$speed: 500ms;
$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';

.anim-in-out {

    &.anim-in-setup {

        &.anim-swap, .anim-swap {
        }

        &.anim-fade, .anim-fade {
            opacity: 0;
        }

        &.anim-slide-left, .anim-slide-left {
            @each $p in $prefix {
              #{$p}transform:translateX(100%);
            }
        }

        &.anim-slide-right, .anim-slide-right {
            transform: translateX(-100%);
        }

        &.anim-slide-below, .anim-slide-below {
          @each $p in $prefix {
            #{$p}transform:translateY(20px);
          }
        }

        &.anim-slide-below-fade, .anim-slide-below-fade {
            opacity: 0;
            @each $p in $prefix {
              #{$p}transform:translateY(20px);
            }
        }

          &.anim-slide-below-fade.ng-enter,
        .anim-slide-below-fade.ng-leave,
        .anim-slide-below-fade.ng-move {
          opacity: 0;
          @each $p in $prefix {
            #{$p}transform:translateY(20px);
            }
          }


        &.anim-slide-below-fade.ng-enter-stagger,
          .anim-slide-below-fade.ng-enter-stagger {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
            -webkit-transition-duration: 0s;
            transition-duration: 0s;
        }

        &.anim-zoom-out, .anim-zoom-out {
            transform: scale(0.95);
        }

        &.anim-zoom-in, .anim-zoom-in {
            transform: scale(1.025);
        }

        &.anim-zoom-out-full, .anim-zoom-out-full {
            transform: scale(0);
        }

        &.anim-zoom-in-full, .anim-zoom-in-full {
            transform: scale(10);
        }

    }

    &.anim-in {

        &.anim-swap, .anim-swap {
        }

        &.anim-fade, .anim-fade {
            opacity: 1;
            @each $p in $prefix {
              #{$p}transition:all $speed;
            }
        }

        &.anim-slide-left, .anim-slide-left {
            @each $p in $prefix {
              #{$p}transform:translateX(0);
              }
            @each $p in $prefix {
              #{$p}transition:all $speed;
            }
            transition-delay: 2s;
        }

        &.anim-slide-right, .anim-slide-right {
            transform: translateX(0);
            transition: all $speed;
        }

        &.anim-slide-below, .anim-slide-below {
            transform: translateY(0);
            transition: all $speed;
        }

        &.anim-slide-below-fade, .anim-slide-below-fade {
            opacity: 1;
            @each $p in $prefix {
              #{$p}transform:translateY(0);
              }
            @each $p in $prefix {
              #{$p}transition:all $speed;
            }
        }

        &.anim-slide-below-fade.ng-leave.ng-leave-active,
        .anim-slide-below-fade.ng-enter,
        .anim-slide-below-fade.ng-move {
          opacity: 0;
          @each $p in $prefix {
            #{$p}transform:translateY(20px);
            }
          }


        &.anim-slide-below-fade.ng-leave-stagger,
          .anim-slide-below-fade.ng-leave-stagger {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
            -webkit-transition-duration: 0s;
            transition-duration: 0s;
        }


        &.anim-zoom-out, .anim-zoom-out {
            transform: scale(1);
            transition: all $speed;
        }

        &.anim-zoom-in, .anim-zoom-in {
            transform: scale(1);
            transition: all $speed;
        }

        &.anim-zoom-out-full, .anim-zoom-out-full {
            transform: scale(1);
            transition: all $speed;
        }

        &.anim-zoom-in-full, .anim-zoom-in-full {
            transform: scale(1);
            transition: all $speed;
        }

    }

    &.anim-out-setup {

        &.anim-swap, .anim-swap {
        }

        &.anim-fade, .anim-fade {
            opacity: 1;
            transition: all $speed;
        }

        &.anim-slide-left, .anim-slide-left {
            transform: translateX(0);
            transition: all $speed;
        }

        &.anim-slide-right, .anim-slide-right {
            transform: translateX(0);
            transition: all $speed;
        }

        &.anim-slide-below, .anim-slide-below {
            transform: translateY(0);
            transition: all $speed;
        }

        &.anim-slide-below-fade, .anim-slide-below-fade {
            opacity: 1;
            @each $p in $prefix {
              #{$p}transform:translateY(0);
              }
              @each $p in $prefix {
                #{$p}transition: all $speed;
                }
        }

        &.anim-zoom-out, .anim-zoom-out {
            transform: scale(1);
            transition: all $speed;
        }

        &.anim-zoom-in, .anim-zoom-in {
            transform: scale(1);
            transition: all $speed;
        }

        &.anim-zoom-out-full, .anim-zoom-out-full {
            transform: scale(1);
            transition: all $speed;
        }

        &.anim-zoom-in-full, .anim-zoom-in-full {
            transform: scale(1);
            transition: all $speed;
        }

    }

    &.anim-out {

        &.anim-swap, .anim-swap {
            display: none;
        }

        &.anim-fade, .anim-fade {
            opacity: 0;
            transition: all $speed;
        }

        &.anim-slide-left, .anim-slide-left {
            transform: translateX(-100%);
            transition: all $speed;
        }

        &.anim-slide-right, .anim-slide-right {
            transform: translateX(100%);
            transition: all $speed;
        }

        &.anim-slide-below, .anim-slide-below {
            transform: translateY(20px);
            transition: all $speed;
        }

        &.anim-slide-below-fade, .anim-slide-below-fade {
            opacity: 0;
            transform: translateY(0);
            transition: all $speed;
        }

        &.anim-zoom-out, .anim-zoom-out {
            transform: scale(0.95);
            transition: all $speed;
        }

        &.anim-zoom-in, .anim-zoom-in {
            transform: scale(1.025);
            transition: all $speed;
        }

        &.anim-zoom-out-full, .anim-zoom-out-full {
            transform: scale(0);
            transition: all $speed;
        }

        &.anim-zoom-in-full, .anim-zoom-in-full {
            transform: scale(10);
            transition: all $speed;
        }

    }

}
