//  ## COLORS  ----------------------------------------------------------//

.white {
  color: #fff;
}

.verde {
  color: $base--verde;
}

.mustard {
  color: $base--mustard;
}

.orange {
  color: $base--orange;
}

.green {
  color: $base--greenHighlight;
}

.grey-bg {
  background: #f3f3f3;
}

.dark-bg {
//  background: #424242;
  background: #423830;
  color: white;
}

.blue-bg {
  background: #6cc3d9;
  color: #fff;
}

.slate {
  color: #5f6c73;
}

.light-green {
  color: #96c43d;
}

.beige {
  color:#c8ab83;
}

.light-blue {
  color: $base--lightblue;
}

.maroon {
  color: #5B2333;
}

.red {
  color: #c64047;
}

.army-green {
  color: #7e846b;
}

.blue-slate {
  color: #7d8ca3;
}

.deep-blue {
  color: #3a71b2;
}

.navy {
  color: #264c78;
}

.dark-green {
  color: #5b986c;
}

.lighter-blue {
  color: #cddcf0;
}

.yellow {
  color: #fdda5f;
}
