//  ## FOOTER  -----------------------------------------------------------------------//

.site-footer {
  padding: calculateRem(40px);
  position: relative;
  background: linear-gradient(to right bottom,#1b428a,#012690 30%,#319dd8 80%,rgba(1,198,255,.76) 100%);

  .container {
    padding-bottom: calculateRem(20px);
  }
  .grid__item {
    display: inline-block;
    @include span-columns(12 of 12);
    @include breakpoint(tablet) {
       @include span-columns(2 of 12);
       text-align: left;
    }
    @include breakpoint(phone) {
      @include span-columns(12 of 12);
    }
    @include breakpoint(mobileOnly) {
      @include span-columns(6 of 12);
    }
    &.legal {
      @include breakpoint(tablet) {
         @include span-columns(6 of 12);
         text-align: left;
      }
      p {
        @include font-size(12);
        @include line-height(20);
        margin-right: calculateRem(50px);
      }
    }
    &.copyright {
      @include font-size(12);
      @include line-height(20);
      @include span-columns(12 of 12);
      p {
        text-align: center;
      }
    }
  }
  .site-footer-list {
    list-style: none;
    margin: 0 0 1.25rem;
    padding: 0;
  }
  .site-footer-list__link {
    @include font-size(13);
    font-weight: 400;
    @include line-height(20);
    color: white;
  }

  .site-footer-list--social li {
    display: inline-block;
  }
  .site-footer-list__icon {
    background-size: cover;
    color: #c8cfdd;
    display: block;
    font-size: 14px;
    font-size: .77778rem;
    line-height: 2;
    height: 30px;
    width: 30px;
    margin: 0 .16667rem;
    text-indent: -999em;
    overflow: hidden;
    &.site-footer-list__icon--facebook {
      background: url('../images/svg/icon-social-facebook.svg') 0 0 no-repeat;
    }
    &.site-footer-list__icon--twitter {
      background: url('../images/svg/icon-social-twitter.svg') 0 0 no-repeat;
    }
    &.site-footer-list__icon--linkedin {
      background: url('../images/svg/icon-social-linkedin.svg') 0 0 no-repeat;
    }
  }

  .site-footer-brand__ident {
    background: url('../images/global/earthly-hand.png') 0 0 no-repeat;
    display: block;
    height: calculateRem(90px);
    margin: .5rem 0 0;
    text-indent: -999em;
    overflow: hidden;
    width: calculateRem(90px);
    background-size: 50%;
  }
  .three-up-tiles {
    .grid__item {
      @include breakpoint(tablet) {
         @include span-columns(3 of 12);
      }
    }
    .three-up-tiles__image {
        text-align: center;
        margin: auto;
    }
    .three-up-tiles__text,
    button {
      color: #fff !important;
      @include font-size(12);
      @include line-height(20);
      margin: 0 0 calculateRem(12px);
      text-align: left;
      padding-right: 0;
    }
    button {
      text-decoration: underline;
      font-style: italic;
      max-width: 100%;
      margin-top: -10px;
      text-align: center;
      padding: 0;
    }
    img {
      height: 70px;
      //background: #fff;
      border-radius: 2px;
      //box-shadow: 0 0 2px rgba(0,0,0,.5);
      padding: 15px;
      &.three-up-tiles__image--large {
        height: 80px;
      }
    }
    .applet .disclaimer-section {
      justify-content: flex-start;
      .modal {
        max-width: 50vw;
        width: 50vw;
      }
    }
  }
}

.site-footer-divider {
  background: #ebeef0;
  border: 0;
  display: block;
  height: 1px;
  margin: 0 1.667rem .75rem;
  &.site-footer-divider__top {
    margin-bottom: 1.23rem;
  }
}
