//  ## ICONS  ------------------------------------------------------------------------//

.icon-ui {
  float: left;
  width: 120px;
  height: 32px;
  line-height: 1.7em;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 32px 32px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  &:hover {
    @include opacity(.50);
  }
  &.icon-ui--inactive {
    @include opacity(.50);
  }
}

.icon-ui--previous {
    background-image: url('../images/icons/icon-arrow-left.svg');
}

.icon-ui--next {
    background-image: url('../images/icons/icon-arrow-right.svg');
    background-position: right top;
}

.icon-ui--close {
    background-image: url('../images/icons/icon-close.svg');
}
