//  ## EARTHLY DNA  ----------------------------------------------------------//
.portfolio--container {
  .inner-hero {
    &.bg-strip {
      padding-top: calculateRem(80px);
      padding-bottom: calculateRem(80px);
    }
  }
  .inner-hero__image {
    margin-top: calculateRem(-18px);
    @include breakpoint(tablet) {
    //   @include span-columns(5 of 12);
    //   text-align: center;
     }
  }
  .inner-hero__text {
    @include breakpoint(desktop) {
      padding-right: calculateRem(35px);
    //   @include span-columns(7 of 12);
    //   text-align: left;
     }
  }
}

.etf {
  .icon-text-col {
     @include span-columns(12 of 12);
     @include breakpoint(tablet) {
       @include span-columns(6 of 12);
    }
    h3 {
       font-weight: normal;
    }
  }
  .etf__left {
    @include breakpoint(tablet) {
      padding-right: calculateRem(30px);
    }
  }
  .etf__right {
    @include breakpoint(tablet) {
      padding-left: calculateRem(30px);
    }
  }
}

.etf__header {
  padding-top: calculateRem(50px);
}

.diversification {
  .diversification__image {
    @include span-columns(12 of 12);
    @include breakpoint(tablet) {
      @include span-columns(5 of 12);
   }
   img {
     //transform: rotate(90deg);
     width: 280px;
     @include breakpoint(desktop) {
       width: 400px;
     }
   }
  }
  .diversification__text {
    @include span-columns(12 of 12);
    @include breakpoint(tablet) {
      @include span-columns(7 of 12);
   }
   p {
     @include font-size(18);
     @include line-height(24);
     margin-bottom: calculateRem(50px);
       @include breakpoint(tablet) {
         width: 80%;
       }
       &:first-child {
         @include breakpoint(tablet) {
           margin-top: calculateRem(80px);
         }
       }
     }
  }
}

.section-tout {
  .section-tout__icon {
    @include span-columns(12 of 12);
    vertical-align: bottom;
    text-align: center;
    margin: auto;
    @include breakpoint(tablet) {
      width: 20%;
      float: none;
      display: inline-block;
      margin: 0 calculateRem(18px) 0;
    }
    @include breakpoint(desktop) {
      margin: 0;
    }
  }
  .section-tout__text {
    @include span-columns(12 of 12);
    @include breakpoint(tablet) {
      @include span-columns(7 of 12);
      float: none;
      display: inline-block;
    }
   p {
     @include font-size(18);
     @include line-height(24);
     &:first-child {
       padding-top: calculateRem(10px);
     }
   }
    .text-link {
      &:before {
        @include caret(-135deg,calculateRem(6px),calculateRem(-14px));
      }
    }
  }
}

//


.tab {
	padding-top: calculateRem(30px);
	margin-bottom: calculateRem(20px);
	position: relative;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
  .sustainable & {
    padding-top: calculateRem(60px);
    padding-bottom: calculateRem(30px);
  	margin-top: calculateRem(60px);
  	border-top: 1px solid #ddd;
  }

  h2 {
    color: $base--blueHighlight;
    margin: 0;
    @include font-size(32);
    .sustainable & {
      color: $base--greenHighlight;
    }
  }

  h5 {
    font-weight: 500;
    span {
      font-weight: 600;
    }
  }

  .grey-bg {
    background: #f3f3f3;
  }
}

.tabs {
	display: table;
	position: relative;
	overflow: hidden;
	margin: calculateRem(25px) auto calculateRem(20px);
  width: 100%;
  text-align: center;
  padding: 0;
  @include breakpoint(tablet) {
    width: 90%;
  }
  @include breakpoint(cinema) {
    width: 100%;
  }
  .sustainable & {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(tablet) {
      width: 90%;
    }
  }


	li {
    display: inline-block;
		@include line-height(32);
    overflow: hidden;
		padding: 0;
		position: relative;
    width: 100%;
    @include breakpoint(tablet) {
      width: auto;
    }
	}

	a {
		color: #888;
		font-weight: 500;
		display: block;
		outline: none;
		padding: calculateRem(4px) calculateRem(1px);
    margin: calculateRem(6px);
    text-decoration: none;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		border: 1px solid $base--blueHighlight;
    border-radius: calculateRem(5px);
    .sustainable & {
      border-color: $base--greenHighlight;
    }
    @include breakpoint(tablet) {
      padding-left: calculateRem(20px);
      padding-right: calculateRem(20px);
    }
	}
}

.tab_content {
  position: relative;
  padding-bottom: calculateRem(50px);
}

.pie-chart {
  position: absolute;
  top: 0;
  right: 0;
  width: 27%;
  margin-left: 48px;
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }

  .st0{fill:#5B9AD4;}
  .st1{fill:#A4A4A4;}
  .st2{fill:#EC7D31;}
  .st3{fill:#FEBF00;}
  .st4{fill:#265E91;}
  .st5{fill:#70AC47;}
  .st6{fill:#4472C4;}

  .st0-s{fill:#5B9AD4;}
  .st1-s{fill:#EC7D31;}
  .st2-s{fill:#FEBF00;}
  .st3-s{fill:#4472C3;}
  .st4-s{fill:#A4A4A4;}

  path {
    transition: all .3s ease-out;
    &:first-child {
      transform: translate(5px,-5px);
    }
  }
}

.chart-disclaimer {
  margin-top: 15px;
  p {
    @include font-size(11);
  }
}

.tabs_item {
	display: none;
  text-align: center;
//  border: 1px solid $base--blueHighlight;
  border-radius: calculateRem(5px);
  padding: calculateRem(40px) calculateRem(20px) calculateRem(55px);
  margin: calculateRem(20px) 0;

  &.tabs_section {
//    display: inline-block;
    text-align: center;
    width: 100%;
    @include breakpoint(tablet) {
      width: 65%;
      text-align: left;
    }
  }

  h4 {
		font-weight: bold;
		margin-bottom: calculateRem(14px);
    span {
      font-size: .8em;
      vertical-align: top;
    }
  }

  a {
    color: $base--blueHighlight;
    border-bottom: 1px solid;
    .sustainable & {
      color: $base--greenHighlight;
    }
    &:hover {
      color: #b3b3b3;
    }
  }

	p {
    font-family: 'Roboto';
  //  width: 85%;
    margin-left: auto;
    margin-right: auto;
    &.ratio {
      width: auto;
      font-weight: 600;
      @include font-size(14);
      span {
      //  display: block;
        color: $base--blueHighlight;
        .sustainable & {
          color: $base--greenHighlight
        }
      }
    }
  }

	&:first-child {
    display: inline-block;
    position: relative;
    top: -2px;
  }
}

.current a {
	color: #fff;
	background: $base--blueHighlight;
  .sustainable & {
    background: $base--greenHighlight
  }
}
