//  ## SERVICES  ----------------------------------------------------------//

.services--container {
    .inner-hero {
      padding-top: 5.5rem;
      padding-bottom: 7.5rem;
    }
    .diversification {
      h2 {
        margin-bottom: 0;
      }
      .diversification__text {
       p {
         @include font-size(24);
         @include line-height(38);
         margin-bottom: calculateRem(50px);
           @include breakpoint(tablet) {
             margin-top: calculateRem(120px);
             width: 80%;
           }
           span {
             display: block;
             margin-top: calculateRem(40px);
             a {
               &:hover {
                 color: #585858;
               }
             }
           }
         }
      }
      &.security {
        h2 {
          margin-bottom: calculateRem(60px);
        }
        p {
        @include font-size(18);
        @include line-height(28);
        margin-top: 0;
        margin-bottom: calculateRem(40px);
      }
    }
}

.section-hats {
  color: #000;
    .highlight {
      font-weight: 900;
    }
    .grid__item {
    position: relative;
    margin-bottom: calculateRem(43px);
    @include span-columns(12 of 12);
    @include breakpoint(tablet) {
      margin-bottom: 0;
       @include span-columns(3 of 12);
       float: none;
       display: inline-block;
     }
      &::after {
    //    content: "H";
        position: absolute;
        top: -70px;
        font-size: 340px;
        left: 0;
        right: 0;
        z-index: -1;
        text-align: center;
        opacity: .2;
        color: #fff;
     }
     &:nth-of-type(2) {
         &::after {
      //   content: "A";
       }
     }
     &:nth-of-type(3) {
        &::after {
      //   content: "T";
      }
     }
     &:nth-of-type(4) {
        &::after {
    //     content: "S";
      }
    }
    p img {
      float: left;
      margin-right: 10px;
    }
    h5 {
      width: 80%;
      margin-bottom: calculateRem(43px);
      @include breakpoint(tablet){
        margin-bottom: calculateRem(18px);
      }
      @include line-height(23);
      &::first-letter {
        float: left;
        //color: #404040;
        font-weight: 900;
        font-size: 48px;
        line-height: 40px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
      //  font-family: Georgia;
      }
    }

    &:nth-of-type(1) {
      h5 {
        width: 70%;
        }
      }
    }
  }
  .inner-page-section {
    .subhead {
      padding-bottom: calculateRem(60px);
    }
  }
}
