//  ## ABOUT US  ----------------------------------------------------------//

.about-us--container {

  .section-strip {
    &.border-top {
      padding-top: calculateRem(80px);
      margin-top: calculateRem(50px);
      border-top: 1px solid #ddd;
    }
  }
  .icon-text {
    border-top: 1px;
  }
}



.about-team {
  .title {
    font-weight: 800;
    @include font-size(12);
  }
  .social-icons {
    margin-top: 8px;
    float: left;
    a {
      &:first-child {
        margin-right: 32px;
      }
    }
  }
}
