//  ## SERVICES  ----------------------------------------------------------//

.library--container {
  .inner-hero {
    &.bg-strip {
      padding-top: calculateRem(80px);
      padding-bottom: calculateRem(80px);
      &.nav-only {
        padding: calculateRem(22px) 0;
      }
      &.library-item-main {
        @include breakpoint(tablet) {
          padding: calculateRem(200px) 0;
          margin-bottom: calculateRem(-400px);
        }
        padding: calculateRem(250px) 0;
        margin-bottom: calculateRem(-500px);
      }
    }
  }
  picture {
    img {
      width: 100%;
      @include breakpoint(desktop) {
        width: 760px;
      }
    }
  }

  &.library--container--home {
    .library--featured-image {
      picture {
        vertical-align: top;
        img {
          width: 100%;
        }
      }
    }
  }

  .news--featured--article {
    clear: both;
  }

  .library-item {
    .library--featured-image {
      display: inline-block;
      width: 100%;
      @include breakpoint(tablet){
        width: 50%;
      }
    }
    .library--featured-text {
      display: inline-block;
      width: 100%;
      margin-left: 3%;
      vertical-align: top;
      @include breakpoint(tablet){
        width: 46%;
      }
    }
    h2 {
      @include font-size(36);
      @include line-height(42);
    }
    &.not-featured {
      .library--featured-image {
        width: 100%;
        @include breakpoint(tablet){
          width: 32%;
        }
      }
      .library--featured-text {
        width: 100%;
        @include breakpoint(tablet){
          width: 57%;
        }
      }
      &.section-strip {
        padding-bottom: 0;
      }
    }
    .intro {
      position: relative;
    }
  }

  .library--fixed-content {
    text-align: center;
  }

  .library--nav {
    display: inline-block;
  }
  .site-footer-divider {
    margin: 0 calculateRem(200px) calculateRem(10px);
  }
}

.library--author {
  margin: calculateRem(24px) 0;
  picture {
    img {
        width: 40px;
      }
    }
    .library--author--info {
      display: inline-block;
      vertical-align: top;
      margin-left: calculateRem(15px);
      @include font-size(14);
      .library-item-date {
        @include font-size(12);
      }
    }
}

.library-categories {
    text-align: center;
    padding: calculateRem(15px) 0;
    li {
     display: inline-block;
     text-align: center;
     margin: auto;
     padding: 10px 15px;
     margin: 0 8px;
     border-radius: 3px;
     font-weight: 500;
     width: 100%;
     @include breakpoint(tablet){
       width: auto;

     }
     @include font-size(13);
     a {
       color: #7d8ca3;
       &:hover {
         color: #f2703f;
       }
     }
     &.selected {
       background: #ececec;
       a {
        // color: #f2703f;
         font-weight: 900;
       }
     }
   }
  }

  .library-inner {
    h1 {
      @include font-size(42);
      color: #fff;
    }
  }

// search

.search {
  @include font-size(14);
  position: absolute;
  right: 0;
  top: 0;
}

.search-info {
  margin-bottom: 3%;
  color: $base--blueHighlight;
  @include font-size(22);
  .library--container & {
    margin-left: 3%;
  }
  .search-highlight {
    color: $base--orange;
    font-weight: 800;
  }
}

article {
  + .search-none {
    display: none;
  }
}

.search-none {
  + div {
    display: none;
  }
  margin-top: -65px;
  background: #fff;
  z-index: 11;
  position: relative;
  .faqs & {
    margin-top: -56px;
  }
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  background-size: 14px;
  border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	border-radius: 3px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
//	width: 130px;
	background-color: #fff;
	border-color: $base--blueHighlight;
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
.library-search {
  position: relative;
  width: 66.67%;
}

.library-search input[type=search] {
	width: 115px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
.search-cancel {
  height: calculateRem(15px);
  width: calculateRem(15px);
  transition: all .1s;
  transition-delay: .1s;
  cursor: pointer;
  background: url(/wp-content/themes/earthly-2016/build/images/icons/icon-cancel.png) 0;
  background-size: 15px;
  position: absolute;
  right: -6px;
  top: 11px;
  z-index: 11111;
  opacity: 0;
}
.library-search input[type=search]:hover {
	background-color: #fff;
}
.library-search input[type=search]:focus {
//	width: 130px;
	padding-left: 32px;
	color: #000;
	cursor: auto;
  + .search-cancel {
    opacity: 1;
    right: 6px;
    .library--container--home & {
      right: -44px;
    }
  }
}
.library-search input:-moz-placeholder {
	//color: transparent;
}
.library-search input::-webkit-input-placeholder {
	//color: transparent;
  padding-left: 35px;
}

.social-share-links {
  margin: auto;
  margin-top: calculateRem(10px);

  img {
    margin-left: calculateRem(10px);
    height: 25px;
    width: auto;
    transition: all 0.3s;
    opacity: .6;
    &:hover {
      opacity: 1;
    }
  }
  /*
  &:before {
    content: 'Share:';
    position: absolute;
    right: 113px;
    top: 4px;
    font-family: Poppins;
    font-size: 14px;
  }
  */
}
