//  ## SECURITY  ----------------------------------------------------------//

.security--container {
  .inner-hero {
    &.bg-strip {
      padding-top: calculateRem(80px);
      padding-bottom: calculateRem(50px);
    }
  }
  .inner-hero {
    .inner-hero__image {
      margin-top: calculateRem(0px);
    }
    .inner-hero__text {
      padding: calculateRem(20px);
      a {
        color: inherit;
//        text-decoration: underline;
      }
    }
  }
}

.icon-text-col {
    .security--container & {
    @include breakpoint(desktop) {
      margin-left: calculateRem(34px);
    }
  }
}

.security {
  &.inner-page-section {
    h2 {
      margin-bottom: calculateRem(60px);
    }
  }
  .icon-text-col__item {
    .grid__item {
      padding-bottom: calculateRem(20px);
    }
  }
}

.section-tout {
  &.trust {
  .section-tout__text {
    p, li {
      @include font-size(14);
      @include line-height(26);
      padding-right: calculateRem(80px);
      }
    }
  }
}
