//  ## BIO  ----------------------------------------------------------//

.bio--container {
  @include fill-parent();
  height: 100%;
}

.bio--inner-container {
    padding: 0 26px;
    @include breakpoint(desktop) {
        padding: 0 64px;
    }
}

.bio--photo-container {
  @include span-columns(12 of 12);
  margin-bottom: 30px;
  @include breakpoint(tablet) {
    @include span-columns(6 of 12);
    margin-bottom: 0;
  }
  @include breakpoint(desktop) {
    @include span-columns(6 of 12);
  }
  img {
    @include fill-parent();
    height: auto;
  }
  .bio--photo-mobile {
    display: block;
     @include breakpoint(tablet) {
      display: none;
    }
  }
  .bio--photo-tablet {
    display: none;
     @include breakpoint(tablet) {
      display: block;
    }
  }
}

.bio--desc {
  @include span-columns(12 of 12);
  @include breakpoint(tablet) {
    @include span-columns(6 of 12);
    float: right;
    top: 70px;
    right: 0;
  }
  @include breakpoint(desktop) {
    @include span-columns(6 of 12);
    float: right;
    padding-right: 60px;
  }

  h2 {
    @include font-size(26);
    @include line-height(28);
    margin-bottom: 8px;
    clear: both;
    @include breakpoint(desktop) {
      @include font-size(28);
      @include line-height(30);
    }
    &.line {
      &:before {
        top: -11px;
      }
    }
  }
  h3 {
    margin-bottom: 6px;
  }
  .inner-container {
    padding: 0;
    @include breakpoint(tablet) {
      padding: 0 24px;
    }
    @include breakpoint(desktop) {
      padding-right: 0;
    }
  }

}

.bio--top {
  float: left;
  position: relative;
  margin-bottom: 10px;
  @include fill-parent();
  clear: both;
  @include breakpoint(tablet) {
      margin-bottom: 50px;
  }
  @include breakpoint(desktop) {
      margin-bottom: 80px;
  }
  .bio--arrows-container {
    float: right;
    @include breakpoint(tablet) {
      float: left;
    }
    .icon-ui--next {
      margin-left: 20px;
    }
  }
  .icon-ui--close {
    position: fixed;
    top: 20px;
    right: 26px;
    z-index: 2000;
    @include breakpoint(tablet) {
      position: static;
      float: right;
      top: 0;
      right: 0;
      z-index: auto;
    }
  }
  .bio--name-container {
    float: left;
    @include breakpoint(tablet) {
      margin-top: 35px;
      clear: both;
    }
  }
}

.top-lockup {
  float: left;
  @include fill-parent();
  @include breakpoint(tablet) {
    position: relative;
  }
}

.bio--quote-container {
  @include fill-parent();
  display: none;
  @include breakpoint(tablet) {
    float: right;
    @include span-columns(6 of 12);
    position: absolute;
    right: 0;
    top: 28%;
  }
  @include breakpoint(tablet) {
    float: right;
    @include span-columns(6 of 12);
    position: absolute;
    right: 0;
    top: 28%;
  }
}

.bio--quote {
  float: left;
  @include fill-parent();
  @include font-size(20);
  font-style: italic;
  @include breakpoint(tablet) {
    border-bottom: 1px solid $base--ruleColor;
    padding-bottom: 10%;
  }
}

.bio-text {
  float: left;
  @include fill-parent();
  @include breakpoint(tablet) {
    margin-top: 20px;
  }
  &.bio-text-side {
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(desktop) {
      display: block !important;
    }
  }
}
