//  ## SERVICES  ----------------------------------------------------------//

.library--container {
  .inner-hero {
    &.bg-strip {
      padding-top: calculateRem(80px);
      padding-bottom: calculateRem(80px);
      &.nav-only {
        padding: calculateRem(22px) 0;
      }
      &.library-item-main {
        @include breakpoint(tablet) {
          padding: calculateRem(200px) 0;
          margin-bottom: calculateRem(-400px);
        }
        padding: calculateRem(250px) 0;
        margin-bottom: calculateRem(-500px);
      }
    }
  }
  picture {
    img {
      width: 100%;
      @include breakpoint(desktop) {
        width: 760px;
      }
    }
  }

  &.library--container--home {
    .library--featured-image {
      picture {
        vertical-align: top;
        img {
          width: 100%;
        }
      }
    }
  }

  .library-item {
    .library--featured-image {
      display: inline-block;
      width: 100%;
      @include breakpoint(tablet){
        width: 50%;
      }
    }
    .library--featured-text {
      display: inline-block;
      width: 100%;
      margin-left: 3%;
      vertical-align: top;
      @include breakpoint(tablet){
        width: 46%;
      }
    }
    h2 {
      @include font-size(36);
      @include line-height(42);
    }
    &.not-featured {
      .library--featured-image {
        width: 100%;
        @include breakpoint(tablet){
          width: 32%;
        }
      }
      .library--featured-text {
        width: 100%;
        @include breakpoint(tablet){
          width: 57%;
        }
      }
      &.section-strip {
        padding-bottom: 0;
      }
    }
  }

  .library--fixed-content {
    text-align: center;
  }

  .library--nav {
    display: inline-block;
  }
  .site-footer-divider {
    margin: 0 calculateRem(200px) calculateRem(10px);
  }
}

.library--author {
  margin: calculateRem(24px) 0;
  picture {
    img {
        width: 40px;
      }
    }
    .library--author--info {
      display: inline-block;
      vertical-align: top;
      margin-left: calculateRem(15px);
      @include font-size(14);
      .library-item-date {
        @include font-size(12);
      }
    }
}

.library-categories {
    text-align: center;
    padding: calculateRem(15px) 0;
    li {
     display: inline-block;
     text-align: center;
     margin: auto;
     padding: 10px 15px;
     margin: 0 8px;
     border-radius: 3px;
     font-weight: 500;
     width: 100%;
     @include breakpoint(tablet){
       width: auto;

     }
     @include font-size(13);
     a {
       color: #7d8ca3;
       &:hover {
         color: #f2703f;
       }
     }
     &.selected {
       background: #ececec;
       a {
        // color: #f2703f;
         font-weight: 900;
       }
     }
   }
  }

  .library-inner {
    h1 {
      @include font-size(42);
      color: #fff;
    }
  }

  .highlightedText {
    background: yellow;
}
