//  ## HOME PAGE  ----------------------------------------------------------//

.page-home--hero {
    @include fill-parent();
    position: relative;
    //height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    @include background-size(cover);
    overflow: hidden;
    //z-index: -1;
    background: rgba(194,242,255,1);
    //background: -moz-linear-gradient(-45deg, rgba(194,242,255,1) 0%, rgba(147,212,244,1) 24%, rgba(52,151,221,1) 73%, rgba(0,118,209,1) 100%);
    //background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(194,242,255,1)), color-stop(24%, rgba(147,212,244,1)), color-stop(73%, rgba(52,151,221,1)), color-stop(100%, rgba(0,118,209,1)));
    //background: -webkit-linear-gradient(-45deg, rgba(194,242,255,1) 0%, rgba(147,212,244,1) 24%, rgba(52,151,221,1) 73%, rgba(0,118,209,1) 100%);
    //background: -o-linear-gradient(-45deg, rgba(194,242,255,1) 0%, rgba(147,212,244,1) 24%, rgba(52,151,221,1) 73%, rgba(0,118,209,1) 100%);
    //background: -ms-linear-gradient(-45deg, rgba(194,242,255,1) 0%, rgba(147,212,244,1) 24%, rgba(52,151,221,1) 73%, rgba(0,118,209,1) 100%);
    background: linear-gradient(135deg,#0076d1 0,#3497dd 24%,#80c0e0 73%,#c2f2ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2f2ff', endColorstr='#0076d1', GradientType=1 );
}

.page-home--hero__section {
  @include span-columns(12 of 12);
  @include breakpoint(tablet) {
    @include span-columns(6 of 12);
  }
}


.page-home--turbine {
  z-index: 1;
  position: relative;
  padding: 10% 5% 0;
  .main {
    position: relative;
    z-index: 1;
  }
  .turbine-main {
    opacity: 0;
  }
  .anim-element {
    position: absolute;
    z-index: 11;
    &.rotor-right {
      top: 23.8%;
      left: 56.6%;
      width: 36%;
      opacity: 0;
    }
    &.rotor-left {
      top: 22%;
      left: 39.3%;
      width: 36%;
      opacity: 0;
    }
    &.rotor-main {
      top: 7.8%;
      left: 44.3%;
      width: 46%;
      opacity: 0;
    }
    &.cloud {
      z-index: 12;
      opacity: 0;
      left: 0;
    }
    &.cloud-small {
      top: 13%;
      width: 20%;
    }
    &.cloud-medium {
      top: 18%;
      width: 20%;
    }
    &.cloud-large {
      top: 29%;
      width: 20%;
    }
  }
}

.section-strip {
    padding-top: calculateRem(80px);
    padding-bottom: calculateRem(80px);

    &.flush-bottom {
      padding-bottom: 0;
    }

    &.flush-top {
      padding-top: 0;
    }
}



.page-home--intro {
    position: absolute;
    top: 20%;
    right: 0;
    color: $base--headerColor;
    z-index: 10;
    @include breakpoint(tablet) {
      top: 10%;
    }
    @include breakpoint(desktop) {
      top: 20%;
    }
    @include breakpoint(cinema) {
      top: 28%;
      right: 3%;
      padding-left: 2%;
    }
    .page-home--intro-hdr {
        float: left;
        position: relative;
        h1 {
            float: left;
            position: relative;
            @include font-size(72);
            @include line-height(82);
            font-weight: 300;
            text-transform: none;
            text-align: left;
            margin: 0;
            padding: 0;
            clear: both;
            letter-spacing: 0;
            @include breakpoint(tablet) {
                @include font-size(58);
                @include line-height(58);
            }
            @include breakpoint(desktop) {
                @include font-size(60);
            }
            @include breakpoint(cinema) {
                @include font-size(65);
            }
            @media only screen and (-webkit-min-device-pixel-ratio : 2)
            and (device-aspect-ratio: 2/3)
            and (orientation : portrait) {
              @include font-size(90);
            }
        }
    }
    p {
        float: left;
        clear: both;
        margin-top: 2px;
        @include font-size(29);
        @include line-height(24);
        text-align: left;
//        white-space: nowrap;
        @include breakpoint(tablet) {
            margin-top: 12px;
            @include font-size(26);
            @include line-height(27);
            width: 75%;
        }
        @include breakpoint(desktop) {
            //float: none;
            //clear: none;
            margin-right: 1%;
            margin-top: 27px;
            left: 2px;
            position: relative;
            @include font-size(29);
            @include line-height(31);
        }
        @media only screen and (-webkit-min-device-pixel-ratio : 2)
        and (device-aspect-ratio: 2/3)
        and (orientation : portrait) {
          @include font-size(18);
        }
    }
}

.page-home--scroll-cta {
    @include horz-align(absolute);
    z-index: 10;
    bottom: 15px;
    color: $base--headerColor;
}

.below-hero {
  opacity: 0;
}

.earthly-dna-home {
    padding-left: calculateRem(260px);
    padding-right: calculateRem(260px);
    margin-top: calculateRem(-175px);
    .earthly-dna-home__icon {
      float: left;
      margin-right: calculateRem(50px);
    }
    p {
      @include font-size(18);
    }
    span {
      display: block;
      margin-top: calculateRem(22px);
    }
    .earthly-dna-home__link {
      display: inline-block;
    }
}
.applet {
  .applet-video-wrapper {
    position: relative;
    .applet-video {
      width: 100%;
      position: relative;
      bottom: -6px;
      @include breakpoint(tablet) {
        width: 80%;
      }
      @include breakpoint(cinema) {
        width: 60%;
      }
    }
    .play-icon {
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 60px solid #2c3e50;
      margin: 100px auto 50px auto;
      position: absolute;
      z-index: 1;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      left: 7px;
      right: 0;
      top: 72px;
      z-index: 11;
      transform: scale(.5);
      &::before {
        content: '';
        position: absolute;
        top: -75px;
        left: -115px;
        bottom: -75px;
        right: -35px;
        border-radius: 50%;
        border: 10px solid #2c3e50;
        z-index: 2;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
      }
      &.clicked {
        opacity: 0 !important;
      }
    }
    &:hover {
      .play-icon {
        opacity: .4;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
  #replay-button {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0;
    transition: all 200ms ease-in-out;
    transition-delay: 2200ms;
    position: relative;
    text-indent: -3000px;

    &.show {
      opacity: 1;
    }
    .replay-icon {
      position: relative;
      margin-right: 25px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        margin: -6px 0 0;
        left: 1px;
        width: 15px;
        height: 15px;
        border: 3px solid #333;
        background: 0 0;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        border: 1px solid #fff;
        border-width: 5px 2px 5px 5px;
        border-left-color: #333;
        margin: -8px 0 0;
        background: #333;
      }
      &:hover {
        opacity: .8;
      }
    }
  }

  .disclaimer {
    height: 0;
    min-height: 0;
    opacity: 0;
    width: 80%;
    text-align: left;
    margin: auto;
    @include font-size(14);
  //  transition: all 200ms ease-in-out;
    &:hover {
      opacity: 1;
      height: auto;
    }
  }
  .chevron {
    &::before {
    	border-style: solid;
    	border-width: 0.25em 0.25em 0 0;
    	content: '';
    	display: inline-block;
    	height: 0.45em;
    	left: 0.15em;
    	position: relative;
    	top: 0.15em;
    	transform: rotate(-45deg);
    	vertical-align: top;
    	width: 0.45em;
      }
    }
  .disclaimer-section {
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    @include font-size(14);
    &:focus {
      +.disclaimer {
        height: auto;
        opacity: 1;
        min-height: 70px;
      }
    }

    //

    }
    .modal {
      opacity: 0;
      visibility: hidden;
      display: flex;
      top: -1em;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 0.3s ease-in-out;
    }

    // modal fades in when button
    // is in focus (i.e. clicked on)
    button:focus + .modal {
      opacity: 1;
      visibility: visible;
    }


    // Additional Styling

    button {
      flex: 1;
      border: none;
      //padding: 1em;
      max-width: 20%;
      transition-duration: .25s;
      background: none;

      &:hover {
        text-decoration: underline;
        //background-color: #f2703f;
      }
    }

    span {
      position: absolute;
      top: .2em;
      right: .5em;
      font-size: 1.5em;
      cursor: pointer;

      &:hover {
        color: #c69
      }
    }

    .modal {
      flex: 1;
      background: #cccccc;
      border-radius: 3px;
      max-width: 75%;
      height: auto;
      font-size: 8px;
      padding: 1em 1em 0;
      text-align: left;

      p {
        font-size: 1.5em
      }
  }
}
