//  ## ABOUT US  ----------------------------------------------------------//

.about-us--container {

}

.about-team {
  .title {
    font-weight: 800;
    @include font-size(12);
  }
  .social-icons {
    margin-top: 8px;
    float: left;
    a {
      &:first-child {
        margin-right: 32px;
      }
    }
  }
}
