//  ## OUR WORK PROJECT  ----------------------------------------------------------//

.project--container {
  @include fill-parent();
  height: 100%;
}

.project--desc {
  @include span-columns(12 of 12);
  background: $base--backgroundColor;
  float: left;
  position: fixed;
  top: 70px;
  z-index: 2;
  @include breakpoint(tablet) {
    @include span-columns(6 of 12);
    float: right;
    right: 0;
  }
  @include breakpoint(desktop) {
    @include span-columns(4 of 12);
    float: right;
    padding-right: 60px;
  }
  .inner-container {
    @include breakpoint(desktop) {
      padding-right: 0;
    }
  }
}

.project--desc-headline {
  @include font-size(28);
  @include line-height(30);
  margin-bottom: 8px;
  clear: both;
  text-transform: none;
  &.line {
    &:before {
      @include breakpoint(tablet) {
          top: -11px;
      }
    }
  }
}

.project--desc-body {
  @include breakpoint(mobileOnly) {
    height: 80px;
    overflow: scroll;
  }
}

.project--nav {
  float: left;
  margin-bottom: 30px;
  @include fill-parent();
  clear: both;
  @include breakpoint(tablet) {
      margin-bottom: 50px;
  }
  @include breakpoint(desktop) {
      margin-bottom: 80px;
    }
  .icon-ui--next {
    margin-left: 20px;
  }
  .icon-ui--close {
    float: right;
  }
}

.project--heroes {
  @include span-columns(12 of 12);
  @include breakpoint(mobileOnly) {
    margin-top: 218px;
  }
  @include breakpoint(tablet) {
    @include span-columns(6 of 12);
  }
  @include breakpoint(desktop) {
    @include span-columns(8 of 12);
  }
  .video-js {
    @include fill-parent();
    height: auto;
    margin-bottom: 15px;
  }
  img {
    float: left;
    @include fill-parent();
    margin-bottom: 15px;
  }
}
