//  ## VARIABLES  -------------------------------------------------------------------//

// Base Typography
$base--fontSize: 16px;
$base--fontFamily: Helvetica, Arial, sans-serif;
$base--fontWeight: 300;

// Base Colors
$base--color: #333;
$base--linkColor: #333;
$base--linkColorHover: lighten($base--linkColor, 50%);
$base--projectLinkColor: #fff;
$base--projectLinkColorHover: darken($base--projectLinkColor, 15%);

$base--backgroundColor: #fff;
$base--headerColor: #fff;
$base--homeHeaderColor: #3a2719;
$base--colorWhite: #fff;
$base--lightHeaderColor: #e0e0e0;
$base--ruleColor: #666;
$base--dateColor: #999;
$base--ctaColor: #f2703f;
$base--ctaColorHover: #c23c27;
$base--ctaTextColor: #fff;
$base--loaderBackgroundColor: #eee;
$base--loaderColor: #ccc;
$base--cardColor: #444;
$base--bgStripcolor: #034168;
$base--verde: #96c43d;
$base--mustard: #ada62a;
$base--orange: #f7931f;
$base--blueHighlight: #3987c1;
$base--greenHighlight: #96c43d;

$sustainable--green1: #81da70;
$sustainable--green2: #438720;
$sustainable--green3: #256902;
$sustainable--green4: #3ed646;
$sustainable--green5: #3aa322;

$traditional--blue1: #81bbff;
$traditional--blue2: #64abff;
$traditional--blue3: #3a95ff;
$traditional--blue4: #166fdc;
$traditional--blue5: #036BA8;
$traditional--blue6: #175298;
$traditional--blue7: #00397b;

// Breakpoints
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-cinema: 1430px;

$breakpointNewsMax: 1300px;
$breakpointNewsMin: 1100px;

// Gradients
$gradient--dark: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
