<div class="page page-contact" ng-cloak>

    <div class="container">

        <div class="contact--map-container">
            <div class="contact--map-scale">
                <div class="contact--map" id="map"></div>
            </div>
        </div>

        <div class="contact--office" ng-repeat="post in posts">
            <div class="contact--inner-container">
                <h2 class="line">{{post.acf.company_name}}</h2>
                <address class="contact--address" ng-bind-html="post.acf.company_address | to_trusted"></address>
                <span class="contact--phone-link">{{post.acf.company_phone}}</span>
                <a class="contact--map-link" href="https://maps.google.com/maps?ll=37.795146,-122.401266&z=14&t=m&hl=en-US&gl=US&mapclient=embed&cid=12427723910213644619" target="_blank">{{post.acf.map_link_title}}</a>
            </div>
        </div>

        <div class="contact--dept" ng-repeat="post in posts">

            <div class="contact--inner-container dept">
                <div class="contact--rule">
                    <div class="contact--dept-tier-one">
                        <h3>{{post.acf.tier_1_title_1}}</h3>
                        <p ng-bind-html="post.acf.tier_1_desc_1 | to_trusted"></p>
                        <a class="last-line" href="mailto:{{post.acf.tier_1_desc_1_email | to_trusted}}" ng-click="clickedEmail(post.acf.tier_1_desc_1_email)">{{post.acf.tier_1_desc_1_email | to_trusted}}</a>
                    </div>
                    <div class="contact--dept-tier-one">
                        <h3>{{post.acf.tier_1_title_2}}</h3>
                        <p ng-bind-html="post.acf.tier_1_desc_2 | to_trusted"></p>
                        <a class="last-line" href="mailto:{{post.acf.tier_1_desc_2_email | to_trusted}}">{{post.acf.tier_1_desc_2_email | to_trusted}}</a>
                    </div>
                    <div class="contact--dept-tier-one">
                        <h3>{{post.acf.tier_1_title_3}}</h3>
                        <p ng-bind-html="post.acf.tier_1_desc_3 | to_trusted"></p>
                        <a class="last-line" href="mailto:{{post.acf.tier_1_desc_2_email | to_trusted}}">{{post.acf.tier_1_desc_3_email | to_trusted}}</a>
                    </div>
                    <div class="contact--dept-tier-two">
                        <h3>{{post.acf.tier_2_title_1}}</h3>
                        <p ng-bind-html="post.acf.tier_2_desc_1 | to_trusted"></p>
                        <a class="last-line" href="mailto:{{post.acf.tier_2_desc_1_email | to_trusted}}">{{post.acf.tier_2_desc_1_email | to_trusted}}</a>
                    </div>
                    <div class="contact--dept-tier-two">
                        <h3>{{post.acf.tier_2_title_2}}</h3>
                        <p ng-bind-html="post.acf.tier_2_desc_2 | to_trusted"></p>
                        <a class="last-line" href="mailto:{{post.acf.tier_2_desc_2_email | to_trusted}}">{{post.acf.tier_2_desc_2_email | to_trusted}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
