<div class="page page-expertise" ng-cloak>

    <div class="expertise--container" ng-repeat="post in posts">

        <div class="expertise--fixed-content">
            <div class="inner-container">
                <nav class="expertise--nav">
                    <a href="{{site + '#/what-we-do/' + post.acf.previous_post.post_name}}" class="icon-ui icon-ui--previous icon-ui--inactive">Previous</a>
                    <a href="{{site + '#/what-we-do/' + post.acf.next_post.post_name}}" class="icon-ui icon-ui--next">Next</a>
                    <a ui-sref="what-we-do" class="icon-ui icon-ui--close" ng-click="clickedClose()">Close</a>
                </nav>
                <div class="expertise--desc-wrapper">
                    <h2 class="expertise--desc-headline line" ng-bind-html="post.acf.expertise_headline | to_trusted"></h2>
                    <div class="expertise--desc-body"></div>
                </div>
            </div>
            </div>
        </div>

        <div class="expertise--asset-wrapper">

            <div class="expertise--asset active" ng-attr-id="{{post.acf.expertise_assets[$index].link}}" ng-repeat="asset_url in post.acf.expertise_assets">

                <div class="expertise--desc">
                    <div class="inner-container">
                        <h3 class="expertise--asset-headline" ng-bind-html="asset_url.asset_headline | to_trusted"></h3>
                        <p ng-bind-html="asset_url.asset_description | to_trusted"></p>
                    </div>
                </div>

                <div class="expertise--heroes anim-in-out anim-slide-below-fade" data-anim-speed="2000">
                    <picture picturefill ng-if="asset_url.image_asset" >
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source pf-media="(min-width: 1024px)" ng-srcset="{{asset_url.image_asset}}, {{getRetina(asset_url.image_asset)}} 2x"/>
                        <source pf-media="(min-width: 768px)" ng-srcset="{{ getImageBreakpointSrc(asset_url.image_asset, 'tablet') }}, {{ getRetina(getImageBreakpointSrc(asset_url.image_asset, 'tablet')) }} 2x"/>
                        <source ng-srcset="{{ getImageBreakpointSrc(asset_url.image_asset, 'mobile') }}, {{ getRetina(getImageBreakpointSrc(asset_url.image_asset, 'mobile')) }} 2x"/>
                        <!--[if IE 9]></video><![endif]-->
                        <img ng-srcset="{{asset_url.image_asset}}" alt="{{post.title.rendered | to_trusted}}" class="scroll-element" />
                    </picture>
                    <video ng-if="asset_url.video_asset" class="video-js vjs-default-skin vjs-big-play-centered" width="100%" controls preload="auto" data-setup="{}" ng-attr-poster="{{asset_url.video_poster}}">
                        <source ng-src="{{getVideoSrc(asset_url.video_asset)}}" type='video/mp4' />
                        <source ng-src="{{getVideoTypeSrc(asset_url.video_asset, 'webm')}}" type='video/webm; codecs="vp8, vorbis"' />
                        <source ng-src="{{getVideoTypeSrc(asset_url.video_asset, 'ogv')}}" type='video/ogg; codecs="theora, vorbis"' />
                    </video>
                </div>

            </div>

        </div>

    </div>

</div>
