<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="portfolio--container">

      <!--
<div class="three-up-tiles bg-strip" ng-repeat="post in posts">
      -->
      <div class="bg-strip inner-hero">
        <div class="container">
            <div class="grid">
                <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
                  <h1 class="white">FAQs</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="section-strip inner-page-section faqs">
      <div class="container">
          <div class="grid__item icon-text-col faqs__left orange">
            <h3 class="text-align-left orange">Topics</h3>

            <div class="grid tabs-menu">
              <a class="tab-item orange current" data-link="#faq-section-general">General Questions</a>
              <a data-link="#faq-section-portfolio" class="tab-item orange">Portfolio Construction</a>
              <a data-link="#faq-section-accounts" class="tab-item orange">Accounts</a>
              <a data-link="#faq-section-fees" class="tab-item orange">Fees</a>
              <a data-link="#faq-section-socially-responsible" class="tab-item orange">Socially Responsible Investing</a>
              <a data-link="#faq-section-taxes" class="tab-item orange">Taxes</a>
            </div>
          </div>
            <!--
          -->
          <div class="grid__item icon-text-col faqs__right">
            <!-- GENERAL -->
            <div class="container tab-content faq-section-general" role="navigation" id="faq-section-general">
              <h3 class="text-align-left light-blue">General Questions</h3>
              <a data-nav-id="faq-section-general-1" class="c-nav--trigger js-nav-toggle light-blue">When will Earthly launch and what is the status of the development process?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-1">
                <p>We are targeting an Q4 2016 release.  Earthly is currently in private beta undergoing stress testing and auditing.</p>
              </div>

              <a data-nav-id="faq-section-general-2" class="c-nav--trigger js-nav-toggle light-blue">What is Earthly?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-2">
                <p>Earthly is the first automated investment advisory and portfolio management firm devoted to socially responsible investing (SRI) and impact investing. We harness the power and cost saving potential of automated systems to create a more affordable and seamless&nbsp;advisory experience.</p>
<p>Our primary focus centers around&nbsp;helping clients create diversified investment portfolios that reflect their principles and then managing that portfolio for social responsibility, impact, risk and taxes.</p>
<p>Our goal is to help our clients both build wealth and make an impact in the world.</p>
              </div>

              <a data-nav-id="faq-section-general-3" class="c-nav--trigger js-nav-toggle light-blue">Why did you start Earthly?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-3">
                <p>Earthly was originally conceived as a means&nbsp;for our founders to passively invest in a diversified investment portfolio that excluded fossil fuel companies. &nbsp;Over time, the idea evolved to not only punish&nbsp;negative environmental performance, but favor positive performance. &nbsp;Finally, other key performance indicators (KPIs) were added across multiple Environmental, Social and Governance (ESG) categories as a way for our founders to invest using not only environmental criteria, but other principled criteria.</p>
                <p>As a secondary objective, our founders also desired to automate tax and risk management processes&nbsp;that previously required careful monitoring.</p>
                <p>Today, Earthly’s mission is to be the premier source for socially responsible and impact investing in the world by making the investment process simple, inexpensive and worry-free.</p>
              </div>

              <a data-nav-id="faq-section-general-4" class="c-nav--trigger js-nav-toggle light-blue">Where does Earthly stand on the various environmental, social, governance and ethical issues it advertises to clients?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-4">
                <p>Earthly will always support and incorporate strong corporate social responsibility (CSR) standards as a part of our official corporate policy. &nbsp;We seek to achieve high minimum standards across the spectrum of key performance indicators (KPIs) within&nbsp;the Environmental, Social and Governance (ESG) categories. &nbsp;These standards not only drive our corporate policy but our security selection process for clients.</p>
                <p>Earthly&nbsp;does not endorse any particular ethical screening criteria that we offer to clients as part of our portfolio selection process.</p>
              </div>

              <a data-nav-id="faq-section-general-5" class="c-nav--trigger js-nav-toggle light-blue">Why doesn't Earthly stand behind any ethical screening criteria?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-5">
                <p>Our ethical screening options were designed to purely reflect the individual principles of our clients. &nbsp;</p>
                <p>Given the contentious and variable nature of the various ethical screening categories we offer, it would be inappropriate for us to take a stance on any particular issue and not recommend to all clients that they exclude or include that category’s securities within their portfolio.</p>
                <p>More importantly, none of the ethical screening criteria we offer to clients directly relate to or affect any aspect of our business or corporate policy.</p>
              </div>

              <a data-nav-id="faq-section-general-6" class="c-nav--trigger js-nav-toggle light-blue">Who is Earthly's target client base?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-6">
                <p>Our offerings are targeted towards individual investors and institutions who desire to divest from unethical movements and focus investment on causes that mirror their principles. Examples of clients could include:</p>
                <p style="padding-left: 30px;">Environmentally-minded investors looking to divest from fossil fuels&nbsp;and support clean energy;</p>
                <p style="padding-left: 30px;">Religious investors looking to divest from weapons, alcohol and tobacco;</p>
                <p style="padding-left: 30px;">Social justice&nbsp;activists looking to focus on&nbsp;companies not employing impoverished labor, companies with a focus on&nbsp;employment diversity and companies that support local&nbsp;communities.</p>
              </div>

              <a data-nav-id="faq-section-general-7" class="c-nav--trigger js-nav-toggle light-blue">How much should I invest in the Earthly platform?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-7">
                <p>Earthly believes a general rule of thumb is to maintain roughly six months to a year of living expenses in cash for unexpected life events such as a job loss or unexpected medical expenses. &nbsp;Any other cash needs that are expected to occur within the next 0-5 years might also be good candidates to be invested in FDIC insured instruments such as bank deposits.</p>
                <p>Cash not needed within the first 5 years might be better served being invested in a diversified allocation of stocks and bonds such as that offered by Earthly.</p>
                <p><span style="font-size: 10pt;"><em>Please note that information in this section may not be suitable for all clients and are general rules of thumb only.</em></span></p>
              </div>

              <a data-nav-id="faq-section-general-8" class="c-nav--trigger js-nav-toggle light-blue">How does Earthly compare to a socially responsible mutual or index fund?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-8">
                <div id="faq-slug8" class="collapse">
                  <p>Socially responsible mutual and index funds are suffer from several problems:</p>
                <p style="padding-left: 30px;">1) High Fees</p>
                <p style="padding-left: 30px;">2)&nbsp;Cookie cutter principles</p>
                <p style="padding-left: 30px;">3) Lack of Transparency</p>
                <p style="padding-left: 30px;">4) Voting Rights Transferred to Fund Manager</p>
                <p>Earthly&nbsp;addresses these problems in the following ways:</p>
                <p style="padding-left: 30px;">1) We charge a low 0.25% management fee which is significantly less than the average SRI mutual fund and ETF.</p>
                <p style="padding-left: 30px;">2) We offer customized portfolios tailored to each client’s SRI preferences.</p>
                <p style="padding-left: 30px;">3) We use a data-driven, quantitative approach to rating companies’ SRI performance and we disclose our methods.</p>
                <p style="padding-left: 30px;">4) We allow clients to vote their shares or vote proxies on their behalf.</p>
                </div>
              </div>

              <a data-nav-id="faq-section-general-9" class="c-nav--trigger js-nav-toggle light-blue">How can I gauge your level of performance?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-9">
                <p>Given that our Social Identity service can conceivably produce a nearly infinite number of distinct portfolios, we will provide a performance charting application with sample portfolios at certain key Social Identity preference levels. &nbsp;Our clients and potential clients can then view how their preferences would have historically affected their investment performance.</p>
                <p>All clients have the ability to view their individual performance history through their online account.</p>
              </div>

              <a data-nav-id="faq-section-general-10" class="c-nav--trigger js-nav-toggle light-blue">How frequently can I direct trades in my portfolio?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-10">
                <p>We firmly believe that the best approach for all investors is to take a long-term view of market performance. As a result, we allow only one change in your asset allocation strategy every 90 days. You may still contribute to or distribute from your account as many times as you wish.</p>
              </div>

              <a data-nav-id="faq-section-general-11" class="c-nav--trigger js-nav-toggle light-blue">What is an ETF?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-11">
                <p>An ETF (exchange traded fund) is a security that tracks an index and seeks to invest in a basket of individual securities such as commodities, bonds, or stocks. This structure allows investors to buy stock of multiple companies, bonds or other investments without having to buy each security separately. Unlike mutual funds, an ETF trades like common stock on a stock exchange. ETFs experience price changes throughout the day as they are bought and sold.</p>
              </div>

              <a data-nav-id="faq-section-general-12" class="c-nav--trigger js-nav-toggle light-blue">What will happen to my account if Earthly ceases doing business or is acquired?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-12">
                <p>If Earthly is acquired, your brokerage account would remain in your own name and you would be free to add or withdraw money at any time, however your account holdings may be transferred to another custodian.</p>
                <p>In the unlikely event Earthly were to cease doing business, your account would be held by our brokerage partner until you transferred your account to a new broker or chose to liquidate your account. During this period your account would not be managed by our brokerage partner.</p>
              </div>

              <a data-nav-id="faq-section-general-13" class="c-nav--trigger js-nav-toggle light-blue">Why does Earthly maintain a cash balance for me?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-general-13">
                <p>We maintain a minimum cash balance equal to the fees you’re likely to owe over the next year. In addition, stocks and ETFs trade in whole number increments and partial shares are not available, so we will never be able to invest exactly 100% of your investment. We will combine future dividends received and any additional deposits you may make with your cash balance to minimize your cash balance whenever possible.</p>
              <p>If you have signed up for tax-loss harvesting (TLH), then there may be certain unusual scenarios when we cannot invest all of your cash due to the wash sale rule.</p>
              </div>

            </div>

            <!-- Portfolio -->
            <div class="container tab-content" role="navigation" id="faq-section-portfolio">
              <h3 class="text-align-left light-blue">Portfolio Construction</h3>
              <a data-nav-id="faq-section-portfolio-1" class="c-nav--trigger js-nav-toggle light-blue">How does Earthly determine the securities that go into my portfolio?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-portfolio-1">
                <p>Security selection is a two-stage process.</p>
                <p>First, based on your responses to our questionnaire we generate importance values to the various sub-categories of ESG that correspond to your profile.&nbsp; We then rank the universe of securities using our internal rating system and your importance values.</p>
                <p>Second, we maximize the average rating of the entire portfolio subject to a series of constraints including, but not limited to, market capitalization, sector, style and liquidity.</p>
              </div>
              <a data-nav-id="faq-section-portfolio-2" class="c-nav--trigger js-nav-toggle light-blue">Can I select the exact securities that go into my portfolio?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-portfolio-2">
                <p>Unfortunately, not at this time. The main reason being&nbsp;that due to the tax-loss harvesting feature for taxable accounts and due to the resulting wash sale rule, we may end up reinvesting your funds into a&nbsp;security you did not originally select. You may, however, specify securities which you want to exclude, whether for legal or personal reasons.</p>
              </div>
              <a data-nav-id="faq-section-portfolio-3" class="c-nav--trigger js-nav-toggle light-blue">What kind of tracking error should I expect from your portfolios?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-portfolio-3">
                <p>Tracking error is a statistic used to benchmark how closely a portfolio tracks an index.&nbsp; Since each client portfolio is unique, our service is not designed to track indices in the same way that index funds do.</p>
                <p>Unlike a total stock market index, indices used to create SRI portfolios are somewhat arbitrary with regards to the number of stocks selected, the weights of those stocks and the market capitalization, style and sector profiles.&nbsp; Using tracking error as a means of comparing one of our Social Identity portfolios to an SRI index may not be entirely appropriate since the stock selection parameters will not align well.</p>
                <p>One may be interested in seeing how their custom SRI portfolio benchmarks against a broad market index, however again, tracking error would be a misleading statistic since a broad market index is not necessarily the appropriate tracking benchmark for an SRI portfolio.</p>
              </div>

              <a data-nav-id="faq-section-portfolio-4" class="c-nav--trigger js-nav-toggle light-blue">Why doesn’t Earthly strictly use Black-Litterman or mean-variance optimization to create client portfolios?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-portfolio-4">
                <p>Earthly does utilize principles from both of these models, however we don’t utilize either one rigidly. &nbsp;Instead, we try to steer our clients towards market capitalization weighted portfolios. &nbsp;Our primary concern with many asset allocation models is that they involve making concrete, granular assumptions about how future markets will behave.</p>
                <p>While financial professionals can generally estimate with a fair degree of accuracy statistical parameters such as expected returns of stocks and bonds as a whole,&nbsp;the introduction of sub-categories of asset class involving various market cap, style and sector categories makes predicting statistical parameters an exercise in false precision. &nbsp;One can use history or CAPM-derived estimates as a foundation, but such estimates are also susceptible to time period&nbsp;measurement biases, and exogenous effects which may not resurface.</p>
                <p>These models also do a poor job at quantifying risk. &nbsp;In these models, total risk is typically given purely as a mix of variance and covariance. &nbsp;In reality, many types of risk exposure are difficult to quantify and rarely do advisors mention that by utilizing asset allocation models, you’re substituting a reduction in systematic&nbsp;risk for increased model risk which we believe is not in the best interests of our clients.</p>
                <p>Perhaps more importantly, since each of our client portfolios is unique, there is no way to incorporate with any degree of accuracy the appropriate statistical assumptions necessary to categorize all of our portfolios.&nbsp; Any proxy we would use would surely result in allocations that turn out to be sub-optimal.</p>
                <p>And finally, Earthly is not in the business of providing forecasts. &nbsp;We’re only interested in building and managing investment portfolios for clients that will balance risk and reward within the context of a client’s behavioral biases. &nbsp;In the absence of any forecasts which differ from implied market forecasts, Black-Litterman suggests that the market portfolio is the optimal allocation.</p>
              </div>

              <a data-nav-id="faq-section-portfolio-5" class="c-nav--trigger js-nav-toggle light-blue">Why does Earthly only offer stocks and bonds and not natural resources and real estate like other providers?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-portfolio-5">
                <p>Natural resources and real estate do offer the potential for diversification benefits if structured correctly. The problem is these investments as named by our counterparts are just&nbsp;ETFs that consist of the stocks of companies engaged in products or services involving commodities or real estate,&nbsp;but not the actual commodities or real estate themselves.&nbsp;This means that the return characteristics of these ETFs will correlate highly with the returns of stocks, thus providing negligible&nbsp;diversification benefits.</p>
                <p>In addition, the way we define the market portfolio, stocks of natural resource companies and real estate investment trust (REIT) entities are already included in the available universe of eligible assets. &nbsp;By tilting more towards these sectors, we would be supporting a double standard that we don’t believe the market portfolio offers the best combination of risk/reward.</p>
              </div>

              <a data-nav-id="faq-section-portfolio-6" class="c-nav--trigger js-nav-toggle light-blue">Can I tilt my portfolio towards small-cap stocks or value stocks through the platform?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-portfolio-6">
                <p>We recognize that certain research may suggest that a portfolio tilted towards small-capitalization stocks and value style stocks may provide superior risk-adjusted returns over the long-term.&nbsp; Our stance on this research is similar to our criticism of asset allocation optimization techniques, therefore we don’t offer the ability to tilt portfolios at the present time.</p>
              </div>

              <a data-nav-id="faq-section-portfolio-7" class="c-nav--trigger js-nav-toggle light-blue">Can I tilt my portfolio towards specific sectors?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-portfolio-7">
                <p>We currently don’t offer the ability to tilt towards specific equity sectors.</p>
              </div>
            </div>

            <div class="container tab-content" role="navigation" id="faq-section-accounts">
              <h3 class="text-align-left light-blue">Accounts</h3>
              <a data-nav-id="faq-section-accounts-1" class="c-nav--trigger js-nav-toggle light-blue">Am I eligible to open an account?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-accounts-1">
                <p>Any individual 18 or over, who is a legal U.S. resident or a U.S. citizen (with a permanent U.S. address) may open an account with us.</p>
              </div>

              <a data-nav-id="faq-section-accounts-2" class="c-nav--trigger js-nav-toggle light-blue">What is the minimum amount required to open an account?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-accounts-2">
                <p>There is no minimum amount to open an account with us, however we require at least $10,000 available to invest in equity products to utilize&nbsp;our&nbsp;Social Identity service. If this threshold&nbsp;is not met at initial funding, we will invest your cash in socially responsible index funds until the $10,000 threshold is met. &nbsp;At that time, you may instruct us to reallocate your investments into our Social Identity service. &nbsp;</p>
              </div>

              <a data-nav-id="faq-section-accounts-3" class="c-nav--trigger js-nav-toggle light-blue">Can Earthly manage my account located at another institution?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-accounts-3">
                <p>At this time, we do not have plans to interface&nbsp;with other brokerage houses for the purpose of managing client assets. &nbsp;We may at some point in the future allow institutional investors and investment managers the ability to manage their client’s assets within our service.</p>
              </div>
            </div>

            <div class="container tab-content" role="navigation" id="faq-section-fees">
              <h3 class="text-align-left light-blue">Fees</h3>
              <a data-nav-id="faq-section-fees-1" class="c-nav--trigger js-nav-toggle light-blue">What fees does Earthly charge?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-fees-1">
                <p>We only charge one fee; an annualized&nbsp;asset management fee of 0.25% of total assets paid monthly. There are no other fees of any kind and that includes no trading, transfer and account closing fees.</p>
              </div>

              <a data-nav-id="faq-section-fees-2" class="c-nav--trigger js-nav-toggle light-blue">How are fees calculated and paid?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-fees-2">
                <p>Fees are calculated and paid monthly in&nbsp;arrears. The monthly fee calculated&nbsp;is&nbsp;the annual asset management fee of 0.25%&nbsp;divided by 12 months applied to the daily weighted average assets under management calculated in that month. &nbsp;The fee will be deducted from the account the first business day after the end of the prior month. &nbsp;For example, fees incurred during&nbsp;the month of July would be deducted&nbsp;the first business day of August.</p>
              </div>
            </div>

            <div class="container tab-content" role="navigation" id="faq-section-socially-responsible">
              <h3 class="text-align-left light-blue">Socially Responsible Investing</h3>
              <a data-nav-id="faq-section-socially-responsible-1" class="c-nav--trigger js-nav-toggle light-blue">What is Socially Responsible Investing?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-socially-responsible-1">
                <p>Socially responsible investing or SRI refers to an investing methodology that seeks a competitive financial return and contribute to social good.</p>
                <p>This philosophy&nbsp;most frequently consists of a combination of negative and positive screens that serve as a sort of corporate social responsibility litmus test.&nbsp; Positive filters screen companies based on their adherence to certain environmental, social and governance principles while negative screens exclude those companies involved in the manufacture or distribution of products with questionable social benefit.&nbsp;</p>
                <p>In addition, some SRI investors place a greater emphasis on investment activities such as micro-lending that are intended to promote stronger communities.</p>
                <p>Often, SRI investors will use their status as shareholders to influence the managerial decisions of corporations in order to ensure that SRI principles are reflected in the day-to-day operations of the business.</p>
              </div>

              <a data-nav-id="faq-section-socially-responsible-2" class="c-nav--trigger js-nav-toggle light-blue">Why should I invest in a socially responsible manner?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-socially-responsible-2">
                <p>There are many reasons. First, we believe that over the long term, the marketplace will reward firms that adhere to socially responsible principles and all things being equal, this economic strength will translate to better long-term performance for investors.</p>
                <p>In addition, through our platform, you have the capability to let your money dictate your principles and convictions directly to the companies you own and indirectly to the companies you don’t own. In other words, your voice is heard through your investment actions. In the same way lobbyists try to influence politicians (many of which are successful), we believe that affecting investment flows conveys a message that is difficult to ignore.</p>
              </div>

              <a data-nav-id="faq-section-socially-responsible-3" class="c-nav--trigger js-nav-toggle light-blue">How does the performance of socially responsible investing compare to traditional investing?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-socially-responsible-3">
                <p>Because SRI is such a broad-based term with many manifestations, it’s difficult to historically quantify socially responsible investing in terms of investment performance. &nbsp;Nevertheless, there have been many academic studies conducted on the subject&nbsp;with&nbsp;most of the research suggesting&nbsp;that SRI outperforms a traditional approach in some time periods and underperforms in others.</p>
                <p>There is evidence to suggest that ESG screening has historically contributed to outperformance and negative screening has negatively affected performance, but based on total body of research, the results are inconclusive.</p>
                <p>Investors should avoid choosing an investment advisor based on historical performance because typically, historical performance has very little impact on future results.&nbsp; Instead, clients should focus on the investment thesis being offered by the advisor and whether it aligns with closely with the client’s interests.&nbsp; The client should also consider the fees charged by the advisor.</p>
              </div>

              <a data-nav-id="faq-section-socially-responsible-4" class="c-nav--trigger js-nav-toggle light-blue">I only have a small amount to invest. What difference could I possibly hope to make?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-socially-responsible-4">
                <p>We’re reminded of how many people used this explanation as a reason not to vote. Yet during the 2000 Presidential Election, the state of Florida (which decided the election) was won&nbsp;by a little over 500 votes!</p>
                <p>While it’s true that the person with $10,000&nbsp;to invest can create a greater incentive than one with $1,000, every little bit makes a difference. Imagine the impact that&nbsp;100,000 people all with $1,000 could make. That’s 100 million dollars&nbsp;of capital that could be use to support business adhering to SRI principles and 100 million&nbsp;not in the hands of companies that turn a blind eye. That’s a 200 million dollar&nbsp;message!</p>
              </div>

              <a data-nav-id="faq-section-socially-responsible-5" class="c-nav--trigger js-nav-toggle light-blue">Why should I invest with Earthly instead of buying an SRI fund?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-socially-responsible-5">
                <p>There are several advantages to investing with us.&nbsp; To name a few:</p>
                <p>First, our platform allows you to custom tailor your portfolio to your specific SRI preferences. The problem with the current crop of SRI funds is that you get stuck with someone else’s opinion of what constitutes responsible investing.</p>
                <p>Second, we create a diversified portfolio using a combination of stocks and bonds that fits your risk profile. We take all the legwork out of managing your portfolio by adjusting it over time to ensure it continues to meet your investment objectives and risk tolerances and continues to uphold your socially responsible standards.</p>
                <p>Third, we tax manage your portfolio to ensure that you’re not paying unnecessary taxes on your investment gains. Because each of our portfolios consists of individual stocks and bonds, we can more efficiently pass through capital losses resulting in higher after-tax returns compared to advisors using a similar type of index fund.</p>
                <p>Fourth, our fees are substantially less than traditional investment advisor fees and the fund fees that they pass on to you.&nbsp; Less expenses means more money in your pocket.</p>
              </div>

              <a data-nav-id="faq-section-socially-responsible-6" class="c-nav--trigger js-nav-toggle light-blue">How does Earthly rate the companies eligible for inclusion in my portfolio?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-socially-responsible-6">
                <p>Earthly constructs its own proprietary client-neutral ratings for 15 sub-categories of ESG using data consisting of about 500 metrics for around 4,700 companies, manually collected based on public information.</p>
                <p>We then take the results from a client’s Social Identity survey and assign an importance to each sub-category of ESG.&nbsp;</p>
                <p>The total client-weighted score for each company gives each company a client-specific rating which forms the basis of the client’s stock selection.</p>
              </div>

              <a data-nav-id="faq-section-socially-responsible-7" class="c-nav--trigger js-nav-toggle light-blue">How do you respond to critics who say socially responsible investing makes no difference because you’re not actually giving firms money directly when you buy shares on the open market?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-socially-responsible-7">
                <p>It’s incorrect to assume that companies don’t have “skin in the game” just because they’ve successfully executed a public offering of shares.&nbsp; While it’s true that a buyer of stock on the open market isn’t directly handing a firm their cash, they are&nbsp;increasing the demand of the company’s stock which, all other things equal, increases the stock price.&nbsp; This increased price can have many positive effects on a firm:</p>
                <p style="padding-left: 30px;"><span style="font-size: 12pt;">Firms are less likely to face investor pressure to adjust their operational strategy and can justify the past decisions of management.</span></p>
                <p style="padding-left: 30px;"><span style="font-size: 12pt;">Firms can raise greater amounts of equity capital and can do so at a cheaper cost should the firm ever decide to execute a public offering of shares.</span></p>
                <p style="padding-left: 30px;"><span style="font-size: 12pt;">Firms appear de-risked from the prospective of providers of debt and the company having to provide external credit support in contract negotiations.</span></p>
                <p>All of these effects contribute to future stability and cheaper access to capital which can improve a company’s financial position relative to its competitors.</p>
              </div>

              <a data-nav-id="faq-section-socially-responsible-8" class="c-nav--trigger js-nav-toggle light-blue">How do you respond to critics who say that using your status as a shareholder to vote is an ineffective way to encourage social change?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-socially-responsible-8">
                <p>As we’ve mentioned in the prior FAQ, companies do still have “skin in the game” even after they offer shares on the open market.&nbsp; So your investment dollars, whether you choose to invest in a company or not do affect corporate actions.</p>
                <p>In terms of the measurable impact of your investment dollars, if there’s one constant in the history of civilization, it’s that no one individual can effect social change alone.&nbsp; So while you may only have a small amount to invest, your contribution does make a difference on a grander scale.&nbsp; And with Earthly, there’s no easier way to do so.</p>
                <p>Now, some have argued that withholding or purchase of a company’s product or service sends a stronger message than voting shares.&nbsp; Truth be told, we have no idea if a $500 smartphone purchase or voting rights from $500 of share value is a greater incentivizer for change, but what we do know is that you’re limited to the amount of smartphones you can buy just to make a point, but you can easily achieve a dual investment mandate of both building wealth and effecting social change with the dollars you would have invested anyway.</p>
              </div>

              <a data-nav-id="faq-section-socially-responsible-9" class="c-nav--trigger js-nav-toggle light-blue">Why does Earthly offer traditional ETFs in addition to your socially responsible ETFs?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-socially-responsible-9">
                <p>Many potential clients have stated that they would like to allocate only a portion of their assets towards socially responsible investments. &nbsp;Offering traditional ETFs allows us to exclusively serve such clients since our portfolio management systems work best when clients hold all of their assets with us.</p>
              </div>
            </div>

            <div class="container tab-content" role="navigation" id="faq-section-taxes">
              <h3 class="text-align-left light-blue">Taxes</h3>
              <a data-nav-id="faq-section-taxes-1" class="c-nav--trigger js-nav-toggle light-blue">Does Earthly offer daily tax-loss harvesting similar to other automated investment advisors?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-taxes-1">
                <p>Earthly will absolutely be able to seamlessly and automatically tax loss harvest a client’s portfolio and with our Social Identity service, we’ll be able to pass along losses from individual holdings which is something that cannot be done with ETFs.&nbsp; This will, in most cases, lead to a noticeably greater immediate after-tax return for our clients. &nbsp;</p>
                <p>We dislike the term “daily” when referring to tax-loss harvesting because it misleads clients into thinking that tax losses are harvested every day the market value of a client’s asset drops below its tax lot cost basis.&nbsp; In reality, while algorithms do look daily for a harvesting opportunity, an opportunity won’t be realized until a market loss reaches a predetermined threshold value that’s set by the advisor which implies that losses are almost never going to be harvested on a daily basis.&nbsp; In fact, to do so would be nearly impossible because of the wash sale rule and the limited selection of correlated yet distinct ETFs tracking different indices.</p>
              </div>

              <a data-nav-id="faq-section-taxes-2" class="c-nav--trigger js-nav-toggle light-blue">Does Earthly guarantee that I will pay lower taxes as a result of its tax minimization strategies?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-taxes-2">
                <p>Note that we don’t guarantee any particular tax outcome with our automated tax-loss harvesting service or tax minimization strategies and any dialogue or advice we provide should not be considered tax advice. &nbsp;There’s always a risk that due to the uncertainty around marginal income tax rates that your tax liability may eventually be higher as a result of our tax minimization strategies.&nbsp; This is not unique to Earthly but to all financial advisors engaged in tax minimization for clients.</p>
              </div>

              <a data-nav-id="faq-section-taxes-3" class="c-nav--trigger js-nav-toggle light-blue">Is tax-loss harvesting or any of the tax minimization strategies used by Earthly illegal?</a>
              <div class="c-nav--main" role="navigation" id="faq-section-taxes-3">
                <p>No.&nbsp; Tax avoidance strategies like tax-loss harvesting have been legal for years and are in use by many financial advisors.</p>
                <p>Tax evasion is illegal and usually consists of deceptive underreporting of tax liability.&nbsp; Earthly does not engage in or condone tax evasion on behalf of clients.</p>
              </div>

          </div>
      </div>
    </div>
  </div>

  <div class="cta-ribbon bg-strip section-strip">
      <h2 class="text-align-center white">Ready to make an impact?</h2>
      <p class="cta-ribbon__subhead text-align-center light-green">Start your investment plan.</p>
      <div class="cta-ribbon__form white text-align-center">
        <span class="edit-age">
        I am
        <input class="number" maxlength="3"></input>
        years old
        </span>
        <span class="edit-retirement">
        <span class="text">and currently earn</span>
        <span class="edit-income">
        <span class="nowrap">$<input class="number salary" maxlength="8"></input>per year.</span>
      </div>
      <div class="cta-ribbon__form cta-ribbon__form--second white text-align-center">
        <span class="edit-age">
        I anticipate that I'll need the money in my Earthly portfolio in
        </span>
        <span class="edit-retirement">
        <span class="edit-income">
        <span class="nowrap"><input class="number" maxlength="3"></input>years.</span>
      </div>
        <button class="cta">Get Started</button>
  </div>

  </div>

</div>
