<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="portfolio--container">

      <!--
<div class="three-up-tiles bg-strip" ng-repeat="post in posts">
      -->
      <div class="bg-strip inner-hero">
        <div class="container">
            <div class="grid">
                <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
                  <h1 class="white">FAQs</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section-strip inner-page-section faqs flush-bottom">
      <div class="container">
          <div class="grid__item icon-text-col faqs__left orange">
            <h3 class="text-align-left orange">Topics</h3>
            <div class="grid tabs-menu">
              <div ng-repeat="faq in faqs" ng-init="faqs.tab = 'faq-section-general'">
                  <a class="" ng-click="faqs.tab = faq.id;closeSearch();activateTab($index)" ng-class="{'orange': $index == activeTab}">{{faq.title}}</a>
                </div>
              <div class="faq-search">
                <form class="library-search">
                  <input type="search" class="form-control" placeholder="Search" ng-model="searchFAQs" ng-model-options="{debounce: 800}">
                  <span class="search-cancel" ng-click="closeSearch()"></span>
                </form>
              </div>
            </div>
          </div>
            <!--
          -->
          <div class="grid__item icon-text-col faqs__right">
            <!-- GENERAL -->
            <div ng-if="searchFAQs != ''" class="search-info">Results for: <span class="search-highlight" ng-bind-html="searchFAQs"></span></div>
            <article ng-repeat="faq in faqs | filter:searchFAQs" ng-show="faqs.tab === faq.id">
              <div class="tab-content {{faq.id}}" role="navigation" id="{{faq.id}}">
                <h2 class="text-align-left" ng-if="!searchFAQs">{{faq.title}}</h2>
                  <div ng-repeat="post in faq.posts | filter:searchFAQs">
                    <a class="c-nav--trigger js-nav-toggle light-blue" ng-click="active$index = !active$index" ng-class="{'expandcollapse-heading-collapsed': active$index, 'expandcollapse-heading-expanded': !active$index}">{{post.title}}</a>
                    <div class="tab-content--main" ng-hide="active$index">
                      <div ng-repeat="postSection in post.content">
                        <p ng-if="postSection.postSection" ng-bind-html="postSection.postSection | parseUrlFilter:'_blank'"></p>
                        <p ng-if="postSection.postSectionIndent" ng-bind-html="postSection.postSectionIndent | parseUrlFilter:'_blank'" class="faq-indent"></p>
                        <p ng-if="postSection.postSectionLegal" ng-bind-html="postSection.postSectionLegal | parseUrlFilter:'_blank'" class="legal"></p>
                      </div>
                    </div>
                  </div>
                </div>
                </article>
            <div ng-if="searchFAQs" class="search-info search-none">Sorry, there are no results for: <span class="search-highlight" ng-bind-html="searchFAQs"></span>
            </div>
      </div>
    </div>
  </div>

  <div class="section-strip border-top question-link">
    <div class="container text-align-center">
      <div class="grid">
        <div class="grid__item">
          <h2 class="text-align-center">Still have a question?</h2>
            <span class="earthly-dna-home__link"><a ui-sref="contact" class="text-link orange">Send us an email</a></span>
        </div>
      </div>
    </div>
  </div>

  </div>

</div>
