<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="portfolio--container">

      <div class="bg-strip inner-hero">
        <div class="container">
            <div class="grid">
                <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
                  <h1 class="text-align-center white">Low Fees for Maximum Growth</h1>
                    <p class="inner-hero__text--main cinch-less text-align-center white">Our pricing is transparent and simple. No brokerage commissions, no custodial fees and no soft-dollar arrangements. You pay only one low management fee based on your amount invested. The more you invest, the lower your fee.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-strip inner-page-section fees__categories grey-bg">
      <div class="container">
        <div class="grid">
            <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
              <h2 class="">A Simple, Low Fee Structure</h2>
            </div>
        </div>
        <div class="fees__categories__inner">
            <div class="fees__categories__entry">
              <div class="fees__categories__entry__inner">
                  <div class="fees__categories__entry__inner__top">
                      <p class="timing">Clients with $15,000 or more in assets</p>
                      <p class="assets">Annual Fee Of</p>
                      <p>
                        <span class="fee-rate">0.40</span>
                        <span class="percentage-symbol">%</span>
                      </p>
                      <p class="assets">Of Total Assets Billed Monthly</p>

                  </div>
              </div>
          </div><!--

          --><div class="fees__categories__entry middle-text">
              -or-
            </div><!--

          --><div class="fees__categories__entry">
              <div class="fees__categories__entry__inner">
                  <div class="fees__categories__entry__inner__top">
                      <p class="timing">Clients with less than $15,000 in assets</p>
                      <p style="color: #ffffff;">-</p>
                      <p>
                        <span class="percentage-symbol">$</span><span class="fee-rate">5</span>
                      </p>
                      <p class="assets">Per Month</p>

                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="section-strip section-tout" id="earthly-dna">
    <div class="container text-align-center">
      <h2 class="text-align-center">Want More Personalized Service?</h2>
      <div class="grid">
        <div class="section-tout__text">
          <p class="text-align-center">Schedule a free Initial Consultation today</span>
            </p>
          <p class="text-align-center">
            <span class="earthly-dna-home__link"><a ui-sref="contact" class="text-link orange"> Contact Us</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-strip section-tout grey-bg" id="earthly-dna">
    <div class="container text-align-center">
      <h2 class="text-align-center">Earthly(DNA) Eliminates the Expense Ratio</h2>
      <div class="grid">
        <div class="grid__item section-tout__icon">
          <p><img src="/wp-content/themes/earthly-2016/build/images/icons/icon-earthly-dna-black.png" class="" width="100"></p>
        </div>
        <div class="grid__item section-tout__text">
          <p class="text-align-left">Unlike most advisors where you pay both advisory and full ETF expenses, Earthly(DNA) replaces your stock fund and is included in our advisory fee at no extra cost.</span>
            </p>
          <p class="text-align-left">
            <span class="earthly-dna-home__link"><a ui-sref="earthly-dna" class="text-link orange">Learn More</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="section-strip fees-chart">
    <div class="container text-align-center">
      <h2 class="">Monthly Fees on a $100,000 Investment</h2>
      <div class="grid">
        <div class="grid__item">
          <p class=""><img src="/wp-content/themes/earthly-2016/build/images/pages/chart.png" class="" width="1250"></p>
        </div>
      </div>
      <p class="legal">The chart above shows the monthly fees and expenses on a $100,000 account balance for both Earthly and a hypothetical investment advisor invested in a 90/10 stock/bond socially responsible portfolio.</p>

      <p class="legal">*Fund Fees based on 2016 Morningstar Socially Responsible Category Averages.  Advisory Fee of 1%.</p>
    </div>
  </div>

  </div>

</div>
