<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="portfolio--container">

      <div class="bg-strip inner-hero">
        <div class="container">
            <div class="grid">
                <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
                  <h1 class="text-align-center white">Low Fees for Maximum Growth</h1>
                    <p class="inner-hero__text--main cinch-less text-align-center white">Our pricing is transparent and simple. No brokerage commissions, no custodial fees and no soft-dollar arrangements. You pay only one low management fee based on your amount invested. The more you invest, the lower your fee.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-strip inner-page-section fees__categories grey-bg">
      <div class="container">
        <div class="grid">
            <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
              <h2 class="">A Simple, Low Fee Structure</h2>
            </div>
        </div>
        <div class="fees__categories__inner">
            <div class="fees__categories__entry">
              <div class="fees__categories__entry__inner">
                  <div class="fees__categories__entry__inner__top">
                      <p>
                        <span class="fee-rate">0.30</span>
                        <span class="percentage-symbol">%</span>
                      </p>
                      <p class="timing">Of Assets Billed Monthly</p>
                      <p class="assets">Clients with $20,000 or more in assets</p>
                  </div>
              </div>
          </div><!--

          --><div class="fees__categories__entry middle-text">
              -or-
            </div><!--

          --><div class="fees__categories__entry">
              <div class="fees__categories__entry__inner">
                  <div class="fees__categories__entry__inner__top">
                      <p>
                        <span class="fee-rate">$5</span>
                      </p>
                      <p class="timing">Per Month</p>
                      <p class="assets">Clients with less than $20,000 in assets</p>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="section-strip inner-page-section blue-bg">
    <div class="container">
      <h2 class="text-align-center">Earthly(DNA) Eliminates the Expense Ratio</h2>
        <p class="subhead text-align-center">Unlike most advisors where you pay both advisory and full ETF expenses, Earthly(DNA) replaces your stock fund and is included in our advisory fee at no extra cost.</p>
    </div>
  </div>

  <div class="section-strip fees-chart dark-bg">
    <div class="container text-align-center">
      <h2 class="">Monthly Fees on a $100,000 Investment</h2>
      <div class="grid">
        <div class="grid__item">
          <p class=""><img src="/wp-content/themes/earthly-2016/build/images/pages/chart.png" class="" width="1250"></p>
        </div>
      </div>
      <p class="legal">The chart above shows the monthly fees and expenses on a $100,000 account balance for both Earthly and a hypothetical investment advisor invested in a 90/10 stock/bond socially responsible portfolio.</p>

      <p class="legal">*Fund Fees based on 2016 Morningstar Socially Responsible Category Averages.  Advisory Fee of 1%.</p>
    </div>
  </div>

  <div class="applet text-align-center section-strip inner-page-section flush-bottom">
      <div class="container">
        <h2 class="">Your investment goes farther</h2>
      <p class="subhead">Expected 30-year growth on a $100,000 investment comparing <strong class=""> a traditional advisor</strong> and <strong class="">Earthly</strong>. </p>
      <div class="disclaimer-section">
        <button>Details</button>

        <div class="modal">
          <span>&times;</span>
          <p>This graph compares Earthly's advisory fee and average fund expense ratio (0.04%) with a traditional investment advisor's fee (1.00%) plus the average equity mutual fund expense ratio (1.00%).  Assumptions include $100,000 invested in a 90/10 stock portfolio at 100% socially responsible investments with a 6% continuously compounded annual return over 30 years.  Note that Earthly's advisory fee includes Earthly(DNA) which has a 0% expense ratio.</p>
        </div>
    </div>


      <div class="applet-video-wrapper">
        <div id="replay-button"><span class="play-icon"></span>Play</div>
        <video class="applet-video" width="100%" preload="auto" poster="/wp-content/themes/earthly-2016/build/images/pages/chart-poster.png">
            <source ng-src="/wp-content/themes/earthly-2016/build/video/costs.mp4" type='video/mp4' />
            <!--source ng-src="{{getVideoTypeSrc(asset_url.video_asset, 'webm')}}" type='video/webm; codecs="vp8, vorbis"' />
            <source ng-src="{{getVideoTypeSrc(asset_url.video_asset, 'ogv')}}" type='video/ogg; codecs="theora, vorbis"' /-->
        </video>
      </div>
    </div>
  </div>

  <div class="cta-ribbon bg-strip section-strip">
      <h2 class="text-align-center white">Ready to make a difference?</h2>
      <p class="cta-ribbon__subhead text-align-center light-green">Start your investment plan.</p>
      <!--div class="cta-ribbon__form white text-align-center">
        <span class="edit-age">
        I am
        <input class="number" maxlength="3"></input>
        years old
        </span>
        <span class="edit-retirement">
        <span class="text">and currently earn</span>
        <span class="edit-income">
        <span class="nowrap">$<input class="number salary" maxlength="8"></input>per year.</span>
      </div>
      <div class="cta-ribbon__form cta-ribbon__form--second white text-align-center">
        <span class="edit-age">
        I anticipate that I'll need the money in my Earthly portfolio in
        </span>
        <span class="edit-retirement">
        <span class="edit-income">
        <span class="nowrap"><input class="number" maxlength="3"></input>years.</span>
      </div-->
        <button ui-sref="sign-up" class="cta">Get Started</button>
  </div>

  </div>

</div>
