<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="portfolio--container">

      <div class="bg-strip inner-hero">
        <div class="container">
            <div class="grid">
                <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
                  <h1 class="white">Fees</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section-strip inner-page-section">
      <div class="container">
        <h2 class="text-align-center">Low Fees for Maximum Growth</h2>
          <p class="subhead text-align-center">Our pricing is transparent and simple. No brokerage commissions, no custodial fees and no soft-dollar arrangements. You pay only one low management fee based on your amount invested. The more you invest, the lower your fee.</p>
      </div>
    </div>

    <div class="section-strip inner-page-section fees__categories grey-bg">
      <div class="container">
        <div class="fees__categories__inner">
            <div class="fees__categories__entry">
              <div class="fees__categories__entry__inner">
                  <div class="fees__categories__entry__inner__top">
                      <h5>Entry</h5>
                      <p>
                        <span class="fee-rate">0.40</span>
                        <span class="percentage-symbol">%</span>
                      </p>
                      <p class="annual">per year</p>
                  </div>
                  <p class="aum">$1,000 - $9,999 <br />Assets under Management</p>
              </div>
          </div><!--

          --><div class="fees__categories__entry featured">
              <div class="fees__categories__entry__inner">
                  <div class="fees__categories__entry__inner__top">
                      <h5>Standard</h5>
                      <p>
                        <span class="fee-rate">0.30</span>
                        <span class="percentage-symbol">%</span>
                      </p>
                      <p class="annual">per year</p>
                  </div>
                  <p class="aum">$10,000 - $100,000 <br />Assets under Management</p>
              </div>
          </div><!--

          --><div class="fees__categories__entry">
              <div class="fees__categories__entry__inner">
                  <div class="fees__categories__entry__inner__top">
                      <h5>High Roller</h5>
                      <p>
                        <span class="fee-rate">0.20</span>
                        <span class="percentage-symbol">%</span>
                      </p>
                      <p class="annual">per year</p>
                  </div>
                  <p class="aum">$100,000+ <br />Assets under Management</p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="section-strip inner-page-section">
    <div class="container">
      <h2 class="text-align-center">Earthly(DNA) Eliminates the Expense Ratio</h2>
        <p class="subhead text-align-center">Unlike most advisors where you pay both advisory and full ETF expenses, Earthly(DNA) replaces your stock fund and is included in our advisory fee at no extra cost.</p>
    </div>
  </div>

  <div class="section-strip section-tout">
    <div class="container text-align-center">
      <h2 class="text-align-center">What’s your earthly(DNA)?</h2>
      <div class="grid">
        <div class="grid__item section-tout__icon">
          <p><img src="/wp-content/themes/earthly-2016/build/images/icons/icon-earthly-dna-black.png" class="" width="100"></p>
        </div>
        <div class="grid__item section-tout__text">
          <p class="text-align-left">earthly(DNA) is our exclusive diversified stock portfolio which replaces your socially responsible ETF for accounts that invest $10,000 or more in socially responsible equities.</p>
          <p class="text-align-left">
            <span class="earthly-dna-home__link"><a ui-sref="earthy-dna" class="text-link orange">Learn more</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cta-ribbon bg-strip section-strip">
      <h2 class="text-align-center white">Ready to make an impact?</h2>
      <p class="cta-ribbon__subhead text-align-center light-green">Start your investment plan.</p>
      <div class="cta-ribbon__form white text-align-center">
        <span class="edit-age">
        I am
        <input class="number" maxlength="3"></input>
        years old
        </span>
        <span class="edit-retirement">
        <span class="text">and currently earn</span>
        <span class="edit-income">
        <span class="nowrap">$<input class="number salary" maxlength="8"></input>per year.</span>
      </div>
      <div class="cta-ribbon__form cta-ribbon__form--second white text-align-center">
        <span class="edit-age">
        I anticipate that I'll need the money in my Earthly portfolio in
        </span>
        <span class="edit-retirement">
        <span class="edit-income">
        <span class="nowrap"><input class="number" maxlength="3"></input>years.</span>
      </div>
        <button class="cta">Get Started</button>
  </div>

  </div>

</div>
