<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="library--container" ng-repeat="post in posts">

        <div class="bg-strip inner-hero white">
          <div class="container">
              <div class="grid" ng-repeat="asset_url in post.acf.expertise_assets">
                  <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
                    <h1 class="cinch" ng-bind-html="post.title.rendered | to_trusted"></h1>
                    <picture picturefill ng-if="asset_url.image_asset">
                        <img ng-srcset="{{asset_url.image_asset | to_trustedURL}}" alt="{{post.title.rendered | to_trusted}}" class="scroll-element"  imageonload="contentLoaded()" />
                    </picture>
                  </div>
              </div>
          </div>
      </div>

      <div class="section-strip inner-page-section">
        <div class="container">
            <p class="subhead" ng-bind-html="post.content.rendered | to_trusted"></p>
        </div>
      </div>

      <div class="section-strip inner-page-section flush-top">
        <div class="container">
          <div class="expertise--asset-wrapper ng-cloak">
              <div class="library--fixed-content">
                  <div class="inner-container">
                      <nav class="library--nav">
                          <a href="{{site + '#/library/' + post.acf.previous_post.post_name}}" class="icon-ui icon-ui--previous" ng-click="clickedPrevious()" >Previous</a>
                          <a href="{{site + '#/library/' + post.acf.next_post.post_name}}" class="icon-ui icon-ui--next" ng-click="clickedNext()">Next</a>
                      </nav>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
