<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="library--container" ng-repeat="post in posts">

        <div class="bg-strip inner-hero library-item-main">
          <div class="container">
          </div>
        </div>

      <div class="section-strip inner-page-section library-inner flush-bottom">
        <div class="container">
            <div class="grid" ng-repeat="asset_url in post.acf.expertise_assets">
                <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
                  <h1 class="cinch" ng-bind-html="post.title.rendered | to_trusted"></h1>
                  <div class="library--author" ng-repeat="asset_url in post.acf.author_image_thumb">
                    <div class="library--author--info white">
                      <span class="" ng-bind-html="post.acf.author | to_trusted"></span>&nbsp;–&nbsp;<span class="">{{post.acf.date}}</span>
                    </div>
                  </div>
                  <picture picturefill ng-if="asset_url.image_asset">
                      <img ng-srcset="{{asset_url.image_asset | to_trustedURL}}" alt="{{post.title.rendered | to_trusted}}" class="scroll-element"  imageonload="contentLoaded()" />
                  </picture>
                </div>

            </div>
        </div>
      </div>

      <div class="section-strip inner-page-section">
        <div class="container">
            <p class="subhead" ng-bind-html="post.content.rendered | to_trusted"></p>
        </div>
      </div>

    </div>
</div>
