<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="security--container">

      <div class="section-strip inner-page-section icon-text security">
        <div class="container">
          <h2 class="text-align-center">Library</h2>
            <div class="grid__item icon-text-col">
                <article class="news--article news--featured--article" ng-repeat="post in posts | filter: post: post.acf.is_featured='True'">
                  <div class="news--featured-photo-tablet">
                        <img ng-srcset="{{post.acf.news_image}}" alt="{{post.title.rendered | to_trusted}}" />
                    </div>
                    <div class="news--article-inner">
                        <span class="news--article-date">{{post.acf.news_date}}</span>
                        <h2 ng-bind-html="post.title.rendered | to_trusted"></h2>
                        <p ng-bind-html="post.excerpt.rendered | to_trusted"></p>
                        <a href="{{site + '#/library/' + post.slug}}">Link</a>
                    </div>
                </article>
                <article class="news--article" ng-repeat="post in posts | filter: post: post.acf.is_featured='False'">
                    <div class="news--article-inner">
                        <span class="news--article-date">{{post.acf.news_date}}</span>
                        <h2 ng-bind-html="post.title.rendered | to_trusted"></h2>
                        <a href="{{site + '#/library/' + post.slug}}">Link</a>
                        <p ng-bind-html="post.content.rendered | to_trusted"></p>
                    </div>
                </article>
            </div>
          </div>
        </div>

      <div class="cta-ribbon bg-strip section-strip">
          <h2 class="text-align-center white">Ready to make an impact?</h2>
          <p class="cta-ribbon__subhead text-align-center light-green">Start your investment plan.</p>
          <div class="cta-ribbon__form white text-align-center">
            <span class="edit-age">
            I am
            <input class="number" maxlength="3"></input>
            years old
            </span>
            <span class="edit-retirement">
            <span class="text">and currently earn</span>
            <span class="edit-income">
            <span class="nowrap">$<input class="number salary" maxlength="8"></input>per year.</span>
          </div>
          <div class="cta-ribbon__form cta-ribbon__form--second white text-align-center">
            <span class="edit-age">
            I anticipate that I'll need the money in my Earthly portfolio in
            </span>
            <span class="edit-retirement">
            <span class="edit-income">
            <span class="nowrap"><input class="number" maxlength="3"></input>years.</span>
          </div>
            <button class="cta">Get Started</button>
      </div>

  </div>

</div>
