<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="library--container library--container--home">

      <div class="bg-strip inner-hero white nav-only">
        <div class="container">
        </div>
      </div>

      <div class="inner-page-section">
        <div class="container">
          <ul class="library-categories">
         <li class=""><a ui-sref="library">Recent resources</a></li>
         <li class=""><a ui-sref="sustainable">Sustainable Investing</a></li>
         <li><a ui-sref="personal">Personal Finance</a></li>
         <li class="selected"><a ui-sref="passive">Passive Investing</a></li>
         <li><a ui-sref="financial">Financial Planning</a></li>
         <li class=""><a ui-sref="news">News</a></li>
       </ul>
       </div>
     </div>

      <div class="section-strip inner-page-section library-item flush-top">
        <div class="container">
          <article class="news--article news--featured--article" ng-repeat="post in posts | filter: post: post.acf.category='passive_investing'">
            <div class="section-strip inner-page-section featured library-item not-featured">
              <div class="container">
                <article class="news--article news--featured--article">
                  <div class="library--featured-image" ng-repeat="asset_url in post.acf.expertise_assets">
                    <picture picturefill ng-if="asset_url.image_asset">
                        <a href="{{site + '#/library/' + post.slug}}"><img ng-srcset="{{asset_url.image_asset | to_trustedURL}}" alt="{{post.title.rendered | to_trusted}}" class="scroll-element"  imageonload="contentLoaded()" /></a>
                    </picture>
                    </div>
                    <div class="library--featured-text">
                      <a href="{{site + '#/library/' + post.slug}}"><h2 ng-bind-html="post.title.rendered | to_trusted"></h2></a>
                      <p ng-bind-html="post.excerpt.rendered | to_trusted"></p>
                      <div class="library--author" ng-repeat="asset_url in post.acf.author_image_thumb">
                        <picture picturefill ng-if="asset_url.image_asset">
                            <img ng-srcset="{{asset_url.image_asset | to_trustedURL}}" alt="{{post.title.rendered | to_trusted}}" class="scroll-element"  imageonload="contentLoaded()" />
                        </picture>
                        <div class="library--author--info">
                          <div class="blue-slate" ng-bind-html="post.acf.author | to_trusted"></div>
                          <div class="library-item-date">{{post.acf.date}}</div>
                        </div>
                      </div>
                    </div>
                </article>
              </div>
            </div>
          </article>
        </div>
      </div>


    </div>
</div>
