<div class="page page-our-work-project" ng-cloak>

    <div class="project--container" ng-repeat="post in posts">

        <div class="project--desc">

            <div class="inner-container">
                <nav class="project--nav">
                    <a href="{{site + '#/our-work/' + post.acf.previous_post.post_name}}" class="icon-ui icon-ui--previous icon-ui--inactive" ng-click="clickedPrevious()">Previous</a>
                    <a href="{{site + '#/our-work/' + post.acf.next_post.post_name}}" class="icon-ui icon-ui--next" nextPost ng-click="clickedNext()">Next</a>
                    <a ui-sref="our-work" class="icon-ui icon-ui--close" ng-click="clickedClose()">Close</a>
                </nav>

                <h2 class="project--desc-headline line" ng-bind-html="post.acf.project_headline | to_trusted"></h2>
                <h3 class="subheading" ng-bind-html="post.title.rendered | to_trusted"></h3>
                <div class="project--desc-body" ng-bind-html="post.content.rendered | to_trusted"></div>
            </div>
        </div>

        <div class="project--heroes anim-in-out anim-slide-below-fade" data-anim-speed="2000">

            <div ng-repeat="asset_url in post.acf.project_assets">

                <picture picturefill ng-if="asset_url.image_asset">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source pf-media="(min-width: 1024px)" ng-srcset="{{asset_url.image_asset}}, {{getRetina(asset_url.image_asset)}} 2x"/>
                    <source pf-media="(min-width: 768px)" ng-srcset="{{ getImageBreakpointSrc(asset_url.image_asset, 'tablet') }}, {{ getRetina(getImageBreakpointSrc(asset_url.image_asset, 'tablet')) }} 2x"/>
                    <source ng-srcset="{{ getImageBreakpointSrc(asset_url.image_asset, 'mobile') }}, {{ getRetina(getImageBreakpointSrc(asset_url.image_asset, 'mobile')) }} 2x"/>
                    <!--[if IE 9]></video><![endif]-->
                    <img ng-srcset="{{asset_url.image_asset | to_trustedURL}}" alt="{{post.title.rendered | to_trusted}}"/>
                </picture>

                <video ng-if="asset_url.video_asset || asset_url.video_poster" ng-attr-poster="{{asset_url.video_poster}}" class="video-js vjs-default-skin vjs-big-play-centered" width="100%" controls preload="none" data-setup="{}">
                    <source ng-src="{{getVideoSrc(asset_url.video_asset)}}" type='video/mp4' />
                    <source ng-src="{{getVideoTypeSrc(asset_url.video_asset, 'webm')}}" type='video/webm; codecs="vp8, vorbis"' />
                    <source ng-src="{{getVideoTypeSrc(asset_url.video_asset, 'ogv')}}" type='video/ogg; codecs="theora, vorbis"' />
                </video>

            </div>

        </div>

    </div>

</div>
