<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="portfolio--container">

      <div class="bg-strip inner-hero">
        <div class="container">
            <div class="grid">
                <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
                  <h1 class="white">Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section-strip inner-page-section flush-bottom">
      <div class="container">
        <!--h2 class="text-align-center"></h2-->
          <p class=""></p>
      </div>
    </div>

  </div>

</div>
