<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="portfolio--container">

      <div class="bg-strip inner-hero">
        <div class="container">
            <div class="grid">
                <div class="text-align-center anim-in-out anim-slide-below-fade" data-anim-speed="900">
                  <h1 class="white">Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section-strip inner-page-section grey-bg flush-bottom">
      <div class="container">
        <div class="grid__item">
          <h2 class="text-align-left">
            Introduction
          </h2>
          <p>
            Earthly is committed to maintaining the privacy and security of our current and potential clients.  This Privacy Policy describes the types of personal information that we collect through our website, why we collect the information, and how we use it. </p>
          <p>Accessing our website and/or providing us with any personal information implies that you understand and agree to the terms and conditions described in this Privacy Policy.</p>
          </div>
        </div>
      </div>

      <div class="section-strip inner-page-section grey-bg flush-bottom">
        <div class="container">
          <div class="grid__item">
            <h2 class="text-align-left">What Information We Collect and Why</h2>
              <h3 class="text-align-left">Visitors</h3>
            <p>We collect various types of anonymous and non-discretionary information about our website visitors, including device-related information (browser type, IP address, operating system) and server log information (date and time of your visit, duration of visit, pages visited). We use this information to better understand visitor demographics, understand which content appeals or does not appeal to visitors, and implement miscellaneous improvements to the Earthly experience.  We may also collect personal information if you contact us or otherwise provide it to us (e.g., in an email or through questionnaires).</p>

            <h3 class="text-align-left">Clients</h3>
            <p>Upon creation of an Earthly account, we will collect certain personal information, including, but not limited to, your full legal name, email address, permanent address, and date of birth. We also are required by law to collect additional information such as your social security number, financial status and associations. </p>
          </div>
      </div>
    </div>

    <div class="section-strip inner-page-section grey-bg flush-bottom">
      <div class="container">
        <div class="grid__item">
          <h2 class="text-align-left">How Your Information Is Used
          </h2>

          <p>Earthly uses personally identifiable and other collected information in a manner that is consistent with this Privacy Policy. We use your personal information to enhance our client experience, operate and maintain accounts in accordance with applicable law, investigate and understand how our platform is used, monitor and protect the security and integrity of our systems, and better market and advertise our services.
          </p>

          <p>As part of this process, we may, from time to time, include non-identifiable aspects of your personal information in certain data analysis and reports for both internal and external audiences. When presenting conclusions using personal information as a data source, we ensure that the information is sufficiently obfuscated as to not identify any specific client.
          </p>


        </div>
      </div>
    </div>

    <div class="section-strip inner-page-section grey-bg flush-bottom">
      <div class="container">
        <div class="grid__item">
          <h2 class="text-align-left">When We Share Your Information
          </h2>

          <p>We do not sell, rent, or trade your personal information with any third parties without your consent or as required by applicable law.
          </p>

          <p>In order to provide a competitive level of financial services, we may share your personal information with third parties, such as our custodian or banking verification services. We have entered into agreements that require that these third parties keep this information confidential.  We may also disclose some of the personal information we collect to service providers, companies that perform marketing and analytics services on our behalf.
          </p>

          <p>Earthly complies with all applicable laws and regulations.  As a result, we may disclose personal information in response to legal inquiries such as a court order, summons, subpoenas, or as permitted or required by applicable law when we reasonably believe it is necessary or appropriate to investigate, prevent, or take action regarding illegal activities or suspected fraud, or violations of our Terms of Service, or client agreements.
          </p>

          <p>Information about our clients, including personal information, may also be disclosed or transferred to entities now or in the future affiliated with Earthly or as part of any merger, acquisition, change of control, debt financing, insolvency, bankruptcy, or sale of our assets. Such information may be used in the businesses of any entity so receiving it.
          </p>


          <p>Last, we may disclose personal information in specific other cases upon your consent.
          </p>


        </div>
      </div>
    </div>

    <div class="section-strip inner-page-section grey-bg flush-bottom">
      <div class="container">
        <div class="grid__item">
          <h2 class="text-align-left">Minors
          </h2>

          <p>Earthly only serves clients 18 years of age and older. If a parent or guardian becomes aware that his or her child under the age of 18 has created an account with Earthly and/or provided us with personally identifiable information, please contact us at <a class="orange" href="mailto:support@beearthly.com">support@beearthly.com</a>.  A client determined to be under 18 years of age is subject to immediate termination of their account.
          </p>



        </div>
      </div>
    </div>

    <div class="section-strip inner-page-section grey-bg flush-bottom">
      <div class="container">
        <div class="grid__item">
          <h2 class="text-align-left">Accessing Or Changing Personal Information
          </h2>

          <p>Upon becoming an Earthly client, you can access your profile, review stored information, and revise that information. If you have any problems, you may also contact us at support@beearthly.com. Earthly maintains copies of client records for a minimum period of time as required by applicable law and governing regulations.
          </p>

          <p>
          </p>


        </div>
      </div>
    </div>

    <div class="section-strip inner-page-section grey-bg flush-bottom">
      <div class="container">
        <div class="grid__item">
          <h2 class="text-align-left">Protection of Personal Information
          </h2>

          <p>Earthly employs multiple physical and electronic safeguards to protect your personal information.  Please visit <a class="orange" ui-sref="security">our security page</a> for an overview of our security policies, procedures and infrastructure.
          </p>

          <p>If you cease to be an Earthly client, we will continue to protect your personal information as governed by our prevailing Privacy Policy.
          </p>


        </div>
      </div>
    </div>

    <div class="section-strip inner-page-section grey-bg flush-bottom">
      <div class="container">
        <div class="grid__item">
          <h2 class="text-align-left">Changes to This Privacy Policy
          </h2>

          <p>We reserve the right to modify this Privacy Policy at any time.  Any changes to the Privacy Policy will be reflected on this page and will become effective immediately upon posting. If the changes are significant, Earthly will attempt notify you directly through email on a best effort basis. Please check the effective date below to determine if there have been any changes since you have last reviewed the Privacy Policy.
          </p>


        </div>
      </div>
    </div>

    <div class="section-strip inner-page-section grey-bg">
      <div class="container">
        <div class="grid__item">
          <h2 class="text-align-left">Questions
          </h2>

          <p>If you have any questions on the Privacy Policy, please contact us at <a class="orange" href="mailto:support@beearthly.com">support@beearthly.com</a>.
          </p>


        </div>
      </div>
    </div>

  </div>

</div>
