<div class="page page-what-we-do" ng-cloak>

    <div class="container">

        <div class="what-we-do--container" ng-repeat="post in posts">

            <slick settings="slickConfig">
                <div class="what-we-do--section anim-in-out anim-slide-below-fade" data-anim-speed="2000">
                    <a href="{{site + '#/what-we-do/brand-vision'}}">
                      <span class="what-we-do--section-number">01</span>
                      <h2 ng-bind-html="post.acf.section_1_headline | to_trusted" class="line"></h2>
                    </a>
                    <h3>
                      <a href="{{site + '#/what-we-do/brand-vision'}}">
                        <span class="what-we-do--expertise" ng-bind-html="post.acf.section_1_subheadline_first | to_trusted"></span>
                      </a>
                      <a href="{{site + '#/what-we-do/brand-vision#' + post.acf.section_1_subhead_link_second}}">
                        <span class="what-we-do--expertise" ng-bind-html="post.acf.section_1_subheadline_second | to_trusted"></span>
                      </a>
                      <a href="{{site + '#/what-we-do/brand-vision#' + post.acf.section_1_subhead_link_third}}">
                        <span ng-bind-html="post.acf.section_1_subheadline_third | to_trusted"></span>
                      </a>
                      <a href="{{site + '#/what-we-do/brand-vision#' + post.acf.section_1_subhead_link_fourth}}">
                        <span ng-bind-html="post.acf.section_1_subheadline_fourth | to_trusted"></span>
                      </a>
                    </h3>
                    <p ng-bind-html="post.acf.section_1_body | to_trusted"></p>
                </div>

                <div class="what-we-do--section anim-in-out anim-slide-below-fade" data-anim-speed="2000">
                  <a href="{{site + '#/what-we-do/creative-content'}}">
                    <span class="what-we-do--section-number">02</span>
                    <h2 ng-bind-html="post.acf.section_2_headline | to_trusted" class="line"></h2>
                  </a>
                  <h3>
                    <a href="{{site + '#/what-we-do/creative-content'}}">
                      <span class="what-we-do--expertise" ng-bind-html="post.acf.section_2_subheadline_first | to_trusted"></span>
                    </a>
                    <a href="{{site + '#/what-we-do/creative-content#' + post.acf.section_2_subhead_link_second}}">
                      <span class="what-we-do--expertise" ng-bind-html="post.acf.section_2_subheadline_second | to_trusted"></span>
                    </a>
                    <a href="{{site + '#/what-we-do/creative-content#' + post.acf.section_2_subhead_link_third}}">
                      <span class="what-we-do--expertise" ng-bind-html="post.acf.section_2_subheadline_third | to_trusted"></span>
                    </a>
                    <a href="{{site + '#/what-we-do/creative-content#' + post.acf.section_2_subhead_link_fourth}}">
                      <span ng-bind-html="post.acf.section_2_subheadline_fourth | to_trusted"></span>
                    </a>
                  </h3>
                  <p ng-bind-html="post.acf.section_2_body | to_trusted"></p>
                </div>

                <div class="what-we-do--section anim-in-out anim-slide-below-fade" data-anim-speed="2000">
                    <a href="{{site + '#/what-we-do/branded-experiences'}}">
                      <span class="what-we-do--section-number">03</span>
                      <h2 ng-bind-html="post.acf.section_3_headline | to_trusted" class="line"></h2>
                    </a>
                    <h3>
                      <a href="{{site + '#/what-we-do/branded-experiences'}}">
                        <span class="what-we-do--expertise" ng-bind-html="post.acf.section_3_subheadline_first | to_trusted"></span>
                      </a>
                      <a href="{{site + '#/what-we-do/branded-experiences#' + post.acf.section_3_subhead_link_second}}">
                        <span ng-bind-html="post.acf.section_3_subheadline_second | to_trusted"></span>
                      </a>
                      <a href="{{site + '#/what-we-do/branded-experiences#' + post.acf.section_3_subhead_link_third}}">
                        <span ng-bind-html="post.acf.section_3_subheadline_third | to_trusted"></span>
                      </a>
                      <a href="{{site + '#/what-we-do/branded-experiences#' + post.acf.section_3_subhead_link_fourth}}">
                        <span ng-bind-html="post.acf.section_3_subheadline_fourth | to_trusted"></span>
                      </a>
                    </h3>
                    <p ng-bind-html="post.acf.section_3_body | to_trusted"></p>
              </div>

                <div class="what-we-do--section anim-in-out anim-slide-below-fade" data-anim-speed="2000">
                    <a href="{{site + '#/what-we-do/consumer-activation'}}">
                      <span class="what-we-do--section-number">04</span>
                      <h2 ng-bind-html="post.acf.section_4_headline | to_trusted" class="line"></h2>
                    </a>
                    <h3>
                      <a href="{{site + '#/what-we-do/consumer-activation'}}">
                        <span class="what-we-do--expertise" ng-bind-html="post.acf.section_4_subheadline_first | to_trusted"></span>
                      </a>
                      <a href="{{site + '#/what-we-do/consumer-activation#' + post.acf.section_4_subhead_link_second}}">
                        <span ng-bind-html="post.acf.section_4_subheadline_second | to_trusted"></span>
                      </a>
                      <a href="{{site + '#/what-we-do/consumer-activation#' + post.acf.section_4_subhead_link_third}}">
                        <span ng-bind-html="post.acf.section_4_subheadline_third | to_trusted"></span>
                      </a>
                      <a href="{{site + '#/what-we-do/consumer-activation#' + post.acf.section_4_subhead_link_fourth}}">
                        <span ng-bind-html="post.acf.section_4_subheadline_fourth | to_trusted"></span>
                      </a>
                    </h3>
                    <p ng-bind-html="post.acf.section_4_body | to_trusted"></p>
                </div>


            </slick>

            <ul class="carousel-navigation tablet-carousel">
                <li><a class="carousel-left icon-ui icon-ui--previous" href="#" ng-click="clickedPrevious()">Previous</a></li>
                <li><a class="carousel-right icon-ui icon-ui--next" href="#" ng-click="clickedNext()">Next</a></li>
            </ul>

        </div>

    </div>

</div>
